[2014-05-04 08:58] iditgolden opened #4 "failing to get private key in crypt.py from .p12 file"
when running line 131 with a .p12 file:

[code]

the following error occurs:
OpenSSL.crypto.Error: [('asn1 encoding routines', 'ASN1_D2I_READ_BIO', 'not enough data')]

should be:

[code]

[2014-05-12 06:44] Forever-Young opened #7 "Python3 support"
Even setup fails

[code]

[2014-05-12 14:02] #7 closed, assigned to nobody

[2014-05-14 17:55] #4 closed, assigned to nobody

[2014-05-30 19:23] alexanderattar opened #13 "Add Better Exception Handling For Missing Encryption Library in client.py"
The current exception simply passes without raising a reason for the exception:

from oauth2client.client import SignedJwtAssertionCredentials
ImportError: cannot import name SignedJwtAssertionCredentials

This is due to line 42 - 48 of client.py:

try:
  from oauth2client import crypt
  HAS_CRYPTO = True
  if crypt.OpenSSLVerifier is not None:
    HAS_OPENSSL = True
except ImportError:
  pass

I

[2014-06-13 20:06] byuksel opened #16 "ClientSecrets JSON file from AppEngine does not have redirect_urls property"
I downloaded the clientsecrets JSON file from a standard AppEngine instance and when I try to do oauth with

from oauth2client.client import flow_from_clientsecrets
flow = flow_from_clientsecrets(secrets_file, scope=scope,
                                 message=MISSING_CLIENT_SECRETS_MESSAGE)

I get the following error:
Error:Missing property "redirect_uris" in a client type of "web".

We may ne

[2014-06-13 20:08] byuksel opened #17 "Add clientsecrets.py ability to report on Errors."
Proposed code change for oauth2client/clientsecrets.py

class InvalidClientSecretsError(Error):
  """Format of ClientSecrets file is invalid."""
  def **init**(self, Error):
    logging.info("Error:"+str(Error))
  pass

[2014-07-14 16:11] pferate opened #25 "Python 3"
I'd like to open this up as an Enhancement and have some discussion, similar to https://github.com/google/google-api-python-client/issues/3.

I've already forked the code and made some trivial updates in a new branch.  My goal is to keep the code working in both 2.6+ and 3.3+.  In the other thread, it was suggested to have 2.6 as the minimum supported version; at what point will that be the case?

[2014-07-19 05:31] w1o7l5 opened #28 "load_pkcs12 doesn't work"
Hi,
When I refresh credentials file, and get TypeError:

pkey = crypto.load_pkcs12(key, password).get_privatekey()
  File "build\bdist.win32\egg\OpenSSL\crypto.py", line 2223, in load_pkcs12
    parse_result = _lib.PKCS12_parse(p12, passphrase, pkey, cert, cacerts)
TypeError: initializer for ctype 'char *' must be a str or list or tuple, not unicode

Someone said that modify crypt.py to 'load_pcs1

[2014-07-29 09:50] pcolmer opened #30 "easy_install doesn't work"
The README file says to do this to install:
easy_install --upgrade oauth2client
However, I get the error "Couldn't find a setup script". This is both with a clone of the git repo and also the tarball.

[2014-08-07 14:29] flimshaw opened #33 "Refresh tokens not being used for offline access"
I'm trying to use this to refresh an access token for a user that has approved offline access, though it seems to open a web browser everytime I attempt to refresh the token.  Here is the basic code I'm using:

[code]

My creds.data file contains an access token and a refresh token.  The access token expired yesterday, but the credentials are still returning as valid for some reason.  If I remove

[2014-08-08 21:49] craigcitro opened #35 "Allow for overriding the GCE metadata service root URL."
In particular, there are cases where DNS resolution causes problems -- we need to make this configurable.

[2014-08-11 16:14] #33 closed, assigned to nobody

[2014-08-19 19:37] skelterjohn opened #42 "Google Cloud Console now supports .json keys"
The cloud console now allows you to download .json keys, which have an unencrypted version of the private key, along with the existing .p12 keys, which had the private key encrypted with 'notasecret'.

Right now, the SignedJwtAssertionCredentials constructor only takes an encrypted key, though it immediately decrypts it.

We should modify SignedJwtAssertionCredentials to also take the unencrypted

[2014-08-19 22:50] #25 closed, assigned to nobody

[2014-08-20 17:57] #42 closed, assigned to nobody

[2014-08-22 01:16] 37thStreet opened #44 "Move DefaultCredential format and validation logic to default_credential_model module"
I was thinking of moving the DefaultCredential format definition and validation logic recently added to client.GoogleCredentials into a separate class. This predominantly concerns the validation code in _get_application_default_credential_from_file() starting here:
https://github.com/google/oauth2client/blob/master/oauth2client/client.py#L1162

What I'm hoping to accomplish:
- Consolidate the Defa

[2014-08-29 22:19] bitle opened #46 "Use redirect_uri from client_secrets.json"
Client_secrets.json contains redirect_uri and one doesn't need to be provided separately.

[code]

[2014-09-29 22:16] #13 closed, assigned to nobody

[2014-10-16 02:37] #46 closed, assigned to nobody

[2014-10-18 08:41] espeed opened #61 "Update App Engine oauth decorators to work with Google+ web server flow"
The appengine decorators use the User's service get_current_user() method to determine if a user is logged in; however, there is no easy way to adapt the decorator to use the Google+ web server flow for authentication.

See https://developers.google.com/+/web/signin/server-side-flow

Adding a get_current_user method to the decorator would make it easier to override and adapt.

[2014-10-28 14:10] #28 closed, assigned to nobody

[2014-10-28 14:12] skelterjohn opened #62 "save_to_well_known_file() takes only GoogleCredentials"
This function should probably take any sort of Credentials object, and either convert or raise an exception, depending on which type comes in.

[2014-10-29 12:40] r00tat opened #63 "decorator fails to retrieve token"
I'm having issues with the OAuth2Decorator.

The problem is that in client.py the code parameter is only checked as dict, but not as UnicodeMultiDict. Appengine.py provides self.request.params in the parameter code as UnicodeMultiDict.

client.py:1794

[code]

I changed the code to check if it is a string or try to get the property. That would be one solution.

[code]

Maybe an even better solutio

[2014-11-03 11:38] avivien opened #64 "Keep the raw value of the OAuth2 id_token"
I've created a path to keep the raw value of the id_token in the token_reponse attribute of the OAuth2Credentials object.
This value is needed in some case, for example for the Amazon AWS Web identity federation.

[2014-11-05 05:03] dhermes opened #66 "pip installing fails on Py3"
[code]

[2014-11-05 16:13] #64 closed, assigned to nobody

[2014-11-05 16:18] #66 closed, assigned to nobody

[2014-11-08 16:55] #63 closed, assigned to nobody

[2014-11-11 21:26] dandv opened #68 "Add GitHub repo description"
Would be nice to see it in the list at https://github.com/google. Thanks!

[2014-11-11 21:27] dandv opened #69 "Add GitHub repo description"
Would be nice to see it in the list at https://github.com/google. Thanks!

[2014-11-13 21:29] tetron opened #72 "NameError: name '_CreateArgumentParser' is not defined"
[code]

Looking at tools.py, it does appear that is calling
`argparser = _CreateArgumentParser()` right before defining `def _CreateArgumentParser()` which seems like a problem?

[2014-11-13 22:11] #72 closed, assigned to nobody

[2014-11-13 22:13] #68 closed, assigned to nobody

[2014-11-13 22:13] #69 closed, assigned to nobody

[2014-11-19 23:57] wannabeCitizen opened #76 "verify_id_token is now broken"
When we try to use verify_id_token in our app, the updated version of oauth2client now tells us urllib cannot be imported.  The stacktrace looks something like this:

web_1 | from oauth2client.client import verify_id_token
web_1 | File "/usr/local/lib/python2.7/site-packages/oauth2client/client.py", line 32, in <module>
web_1 | from six.moves import urllib
web_1 | ImportError: cannot import name u

[2014-11-20 14:52] sde-melo opened #77 "step1_get_device_and_user_codes is broken"
AttributeError: 'Module_six_moves_urllib' object has no attribute 'urlencode'

body = urllib.urlencode({
    'client_id': self.client_id,
    'scope': self.scope,
})
should be
body = urllib.parse.urlencode({
    'client_id': self.client_id,
    'scope': self.scope,
})
(.parse is missing)

[2014-11-24 16:46] #77 closed, assigned to nobody

[2014-12-06 01:05] dhermes opened #85 "test_oauth2client does not get run"

[2014-12-08 21:51] fcaza opened #88 "oauth2_for_devices and gmail scope issue"
Hi,

It looks like we cannot use OAuth2WebServerFlow.step1_get_device_and_user_codes() with gmail service
It always return :
"OAuth2DeviceCodeError: Invalid response 400. Error: invalid_scope"
although I set different scope such as
'https://www.googleapis.com/auth/gmail.modify'
'https://www.googleapis.com/auth/gmail.compose'
'https://www.googleapis.com/auth/gmail.readonly'
'https://mail.google.com

[2014-12-09 21:45] #85 closed, assigned to nobody

[2014-12-15 15:44] #88 closed, assigned to nobody

[2014-12-15 21:10] thobrla opened #91 "OSError when OS doesn't support file operation"
multistore.py uses LockedFile for managing the credential store.  However, if the operating system doesn't support the necessary open+lock file operation https://github.com/google/oauth2client/blob/master/oauth2client/locked_file.py#L338 that's used by the opener class, it will raise this exception (usually an OSError) and likely kill its caller.

At a minimum, multistore_file should probably just

[2014-12-15 22:47] #76 closed, assigned to nobody

[2014-12-16 02:06] craigcitro opened #92 "Service account tests run slowly if gcloud credentials present"
This is the root cause of the slowness from #89. From the back-and-forth in #85, it looks like the tests happen to pick up existing credentials from the well-known file, which means our tests aren't self-contained (**badness**), and are slow to boot.

(Moving the gcloud directory is a temporary workaround, but clearly this needs fixed.)

[2014-12-16 08:19] #92 closed, assigned to nobody

[2014-12-16 08:24] craigcitro opened #93 "Detecting GCE sometimes takes forever."
on some networks (@dhermes has one at home), doing a lookup on a bogus URL takes ~20-30s. this means that the default way of discovering the current environment (say for fetching the application default credential) can be insanely slow.

[2014-12-18 02:32] craigcitro opened #96 "Enable GAE-related tests."
This repo contains a number of tests of `oauth2client/appengine.py`, but they're currently disabled in tox/travis. We should download the SDK and re-enable them.

[2014-12-19 18:38] anthmgoogle opened #100 "Python Application Default Credentials should checked for GCE environment last"
The implementation of get_application_default has an issue that it detects the environement before fetching the credentials. However, the check for GCE can hang on certain networks for up to 30 seconds (See #93).
This should be changed to match the Java implementation where this is not queried until the end because of its side effects. This means that the can can only occur in a failure case.

To

[2014-12-19 19:58] craigcitro opened #102 "Switch to `mock` everywhere for mocking."
We've got a few mocking libraries in place, might as well standardize on the one that's in the stdlib for python3.

[2014-12-20 18:10] #102 closed, assigned to nobody

[2014-12-29 16:49] msaniscalchi opened #105 "Can't import oauth2client in Python 3.2"
Hello all,

It looks like this library has a bug for Python3 versions < 3.3. Attempting to import the library results in the following:

Traceback (most recent call last):
  File "authorize_with_service_account_py3.py", line 1, in <module>
    import oauth2client.client
  File "/usr/local/lib/python3.2/dist-packages/oauth2client-1.4.5-py3.2.egg/oauth2client/client.py", line 1569
    segments = id_

[2014-12-29 17:14] msaniscalchi opened #106 "SignedJwtAssertionCredentials Support for Python3"
I may be missing something here, but this doesn't appear to support Python3 currently. In order to initialize the credentials, you are expected to pass in the private key file's contents as a string, so this would work for Python2:

[code]

Doing the same for Python3 would result in a UnicodeDecodeError, as it should be read in binary. Ideally, it would work as follows:

[code]

However, while it

[2014-12-29 17:37] #105 closed, assigned to nobody

[2015-01-06 13:48] fcaza commented on #88
I used strategy 2 and it works like a charm. Thks for you tip.

[2015-01-07 08:35] craigcitro commented on #106
@msaniscalchi yep, this probably just hasn't been well-tested (or tried?) in python3 yet.

i agree with the point about reading as `'rb'` -- at that point, it seems like the pyopenssl code would [do the right thing](https://github.com/pyca/pyopenssl/blob/27398343217703c5261e67d6c19dda89ba559f1b/OpenSSL/crypto.py#L2377-L2378), yeah?

any chance you'd have time to send a PR?

[2015-01-07 08:40] craigcitro commented on #93
@aaronwinter in this case, we know what IP the hostname resolves to, so i think we *don't* want to go the twisted/dnspython route.

i think the best solution on the table is a three-pronged attack:
 * refactor the code a bit so that we can avoid the GCE check in more cases,
 * possibly switch to using the IP with a **short** timeout, and
 * add an env var that says "i'm definitely not on gce, don'

[2015-01-08 19:07] craigcitro commented on #93
The first step (switch to the IP for the metadata service) is bf9d46e.

[2015-01-08 19:11] craigcitro opened #110 "Tests aren't insulated from the network."
Currently there are a large number of tests that test networking-related functionality **without** mocking it out. This means that tests will fail in surprising ways on different environments.

(One example: GCE detection doesn't mock out the network, so we see the behavior intended in the tests in "most" environments, but on GCE we will accidentally pick up the metadata service, and on AWS, we'll

[2015-01-08 20:45] aaronwinter commented on #93
Ok, thanks for the directions! Do you want the env var to be set to ~"no need to check" once a negative check has been done or something that is by default to "not check gce" and that the user will need to modify to enable gce checking?

[2015-01-09 21:14] johnaft commented on #106
+1 ran into same issue with SignedJwtAssertionCredentials

[2015-01-12 20:36] dhermes commented on #93
@craigcitro Care to close this out?

[2015-01-12 20:37] craigcitro commented on #93
@dhermes i figured we'd leave it until all the steps above were done, but maybe we should track those separately ...

[2015-01-12 20:40] dhermes commented on #93
Which steps remain? You referring to #111?

I like to use check-marks to track a plan of work in progress (see GoogleCloudPlatform/gcloud-python#451 for example).

[2015-01-12 23:18] dhermes commented on #96
FYI I have enabled this in a [personal project][1].

Some keys to do this:

In `.travis.yaml`:

[code]

which uses a `get_app_engine_sdk.sh` bash [script][2] to retrieve a specific version of the SDK.

Then to actually enable the imports, each module which requires App Engine uses

[code]

instead of

[code]

The final piece of the puzzle (which relies on the `GAE` environment variable) comes in [

[2015-01-12 23:33] craigcitro commented on #96
grin ... i think i wrote a roughly equivalent python script, which now lives at `scripts/fetch_gae_sdk.py`.

[2015-01-12 23:45] dhermes commented on #96
Yeah that part is easy, I had to make a lot of false starts before getting `cache/` right.

[2015-01-13 02:32] 7AC opened #112 "Missing dependency on pyOpenSSL"
I'm running Fedora 14, i.e., python 2.7 and pyOpenSSL 0.9. According to `tox.ini` the requirement is `pyopenssl<0.14`, but the `OpenSSL.crypto.sign()` method is missing in that version (see below). What is the minimum version of pyOpenSSL required?

[code]

[2015-01-13 08:13] craigcitro commented on #112
hi @7AC -- actually, i think the right requirement for pyOpenSSL should be `>=0.13`. (the `tox.ini` actually uses `0.14` for most cases, but `0.13` for a few others.)

actually, this is a little complicated, in the sense that we don't actually *require* pyOpenSSL (some parts of oauth2client work fine without it), so it's hard to specify a minimum version. (we could check at runtime, but that makes

[2015-01-13 19:12] 7AC commented on #112
Thanks @craigcitro. Looks like `sign()` was introduced in 8cf4f8051e603e588554a46fa4821eead7d02075 though, which seems to be in [v0.14a1](https://github.com/pyca/pyopenssl/releases/tag/v0.14a1) so I'm not sure `0.13` will work either. The bad news for me is to get to `>=0.13` I need to upgrade to at least Fedora 18.

[2015-01-13 21:17] dhermes opened #113 "Add support for incremental OAuth 2.0"
See:
https://developers.google.com/accounts/docs/OAuth2WebServer#incrementalAuth

By sending the query parameter `include_granted_scopes=true`, previous authorizations can be wrapped into new tokens (when new scopes are needed).

[2015-01-13 21:19] thobrla opened #114 "Proxies should never be used when querying GCE metadata server"
Similar changes to https://codereview.appspot.com/187380044/ should be made.

[2015-01-16 19:40] craigcitro opened #117 "New crypt function fails with system python2.6 on OSX"
/cc @dhermes

i didn't dig too far, but it looks like the system python doesn't behave as expected:

[code]

The issue is (likely?) a difference in some crypto dependency, but we should check that things work (or fail appropriately).

[2015-01-16 19:47] dhermes commented on #117
Did you run via tox or other?

[2015-01-16 19:47] craigcitro commented on #117
both -- fails in tox and directly using `/usr/bin/python2.6`.

[2015-01-16 19:59] dhermes commented on #117
I'm trying to find documentation, but doesn't Apple ship a fake version of `openssl` or their own custom substitute not even named `openssl`?

[2015-01-16 20:20] dhermes commented on #117
On my machines:
[code]

[2015-01-16 21:00] dhermes commented on #117
So, regarding GoogleCloudPlatform/gcloud-python#537, I tested with this and it works even though `OpenSSL 0.9.8za` spits out a different PEM key than `OpenSSL 1.0.1f`. (Like I actually visited the signed URL, gave an expiration of 60 seconds and I could view the content for the whole 60 seconds on both OSes.)

It still means the tests fails on OS X. Can you get one of your auth contacts to weigh i

[2015-01-22 18:24] dhermes commented on #117
More context:

OS X puts stuff in `/System/...` and then puts `/System/...` ahead of standard location (i.e. the one `pip` uses) on the import path.

SRSLY APPLE? Thanks but no thanks.

On the flip-side: Heartbleed never impacted OS X since they use a custom OpenSSL (at C level, not just Python).

[2015-01-30 18:32] soltanmm opened #123 "Mock out implicit behavior so that test_get_application_default_environment_not_set_up always passes"
Fails on some Ubuntu 14.04 LTS machines for both py27 and py34.

[2015-02-02 22:12] craigcitro opened #124 "Docs for several methods completely missing"
When I moved us from `epydoc` to `sphinx`, it looks like I lost the docs for several methods in the process. For instance, `tools.run_flow` has documentation that simply doesn't show up.

This is quite possibly a trivial fix (i.e. we need to change a depth argument somewhere when running `sphinx`).

cc @nathanielmanistaatgoogle, @soltanmm

[2015-02-03 21:17] tseaver opened #125 "`invalid_grant` failures under Python3"
When running with the branch from https://github.com/GoogleCloudPlatform/gcloud-python/pull/580:

[code]

- Those tests use the `GOOGLE_APPLICATION_CREDENTIALS` envvar, and run fine under Python2.

- All `gcloud-python` unit tests pass on that branch under Python2 and Python3.

[2015-02-03 21:21] craigcitro commented on #125
cc @anthmgoogle

[2015-02-04 18:56] dhermes commented on #125
It's a formatting issue of bytes vs. string.

In Python2:

[code]

In Python3:

[code]

[2015-02-04 21:21] dhermes commented on #125
@craigcitro Can you assign this issue to me? I am working on it.

[2015-02-04 21:24] craigcitro commented on #125
@dhermes it won't let me *assign* to anyone outside our org, unfortunately.

[2015-02-04 22:07] dhermes opened #127 "Add regression / integration tests for merges to master"
This is to prevent issues like #125 where unit tests give false sense of working code.

ISTM we'd want the following

- [ ] Python2 / Python3 - Mint a P12 Service Account access token and make a simple request
- [ ] Python2 / Python3 - Mint a JSON Key Service Account access token and make a simple request
- [ ] Python2 / Python3 - Refresh a user OAuth 2.0 token and make a simple request
- [ ] Pyth

[2015-02-04 23:10] dhermes opened #128 "Enable BYO http library"
If this is a duplicate I apologize.

ISTM this requires
- [x] Move all uses of `httplib2` into a module (call it `transport` probably) (#554, #559, #561, #577)
- [ ] Determine what assumed interface of `httplib2.Http` is needed
- [ ] Optional. Try to reduce the interface needed
- [x] Factor out the hard dependencies on `httplib2` and just use these interfaces
- [ ] Document the interface and allow

[2015-02-06 22:39] #125 closed

[2015-02-06 22:43] craigcitro commented on #117
@anthmgoogle Anthony, an auth question for you: we're seeing that some of the auth libraries we use for signing behave slightly differently. what OS/openssl version(s) do we want to support? "as many as possible" is my guess, but want to confirm.

@dhermes same command as you on the machine where it fails:

    $ which openssl
    /usr/bin/openssl
    $ openssl version
    OpenSSL 0.9.8zc 15 Oct 2

[2015-02-06 22:47] dhermes commented on #117
@craigcitro We still support Mac OS X. The test just fails because the signed content is different so comparing to [`pem_from_pkcs12.pem`][1] fails.

As I mentioned above, using the signed content still works, i.e. it's still valid.

[1]: https://github.com/google/oauth2client/blob/cd6a9c49b525ccb0f8667316a2f3daffa17c1b2d/tests/data/pem_from_pkcs12.pem

[2015-02-06 22:51] craigcitro commented on #117
ah, maybe i misread that above -- should we just loosen the test to check for either key?

@anthmgoogle if everything seems to function properly, do you have any strong feelings from the auth side?

[2015-02-06 23:02] dhermes commented on #117
Yeah we could just create the equivalent for the `openssl` that Apple uses and then use that file in the test if `sys.platform == 'darwin'`.

[2015-02-06 23:06] craigcitro commented on #117
i was thinking something more lowbrow -- the input is fixed, and we have a small finite number of possible outputs. just check that it's *one* of them and call it a day?

[2015-02-06 23:07] dhermes commented on #117
SGTM

[2015-02-12 20:03] #124 closed

[2015-02-15 19:13] gzog opened #132 "Revoking with the access token throws a TokenRevokeError"
The program tries to revoke the access and refresh tokens of a Google Analytics service.
The error occurs in credentials.revoke(), in the following snippet of code:
[code]

The credentials.access_token is set and valid and the credentials.refresh_token is set to None.
The credentials.revoke() causes an TokenRevokeError but when I want to do the same thing using the requests library, it works perfe

[2015-02-17 16:32] craigcitro commented on #132
yep, it looks like the code only uses the refresh token for revocation -- we need to fall back to the access token if the refresh token isn't available.

[2015-02-21 00:59] thobrla opened #135 "Refresh expired access tokens before waiting for a 401 response"
new_request potentially makes a request even if self.access_token_expired is True: https://github.com/google/oauth2client/blob/933e1d0073d676d6a80d39616405b19fc6f7ccbd/oauth2client/client.py#L550

If the token is expired, the server will return a 401, new_request will refresh the token, and then it will retry the request.

It should refresh beforehand if the access token is known to be expired, av

[2015-02-21 22:51] dkkline opened #137 "PEP8-conformity"
Is there any reason why oauth2client is using two spaces for indentation instead of four, as recommended by [PEP 8](https://www.python.org/dev/peps/pep-0008/#indentation)?

Would people be opposed to switching to PEP8-friendly code?

[2015-02-22 19:10] nathanielmanistaatgoogle commented on #135
Agreed.

[2015-02-24 00:40] anthmgoogle commented on #137
It might be related to keeping the lines to 80 characters, which would cause more wrapping with 4 characters. Certainly a disruptive change that should not be done lightly or not while there was a lot of work in progress.

[2015-03-06 23:54] ptone opened #141 "higher level get_credentials utility function"
It would be great to have a higher level wrapper like get_credentials:

https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/gcloud/credentials.py#L33

directly in this library

[2015-03-07 15:25] qcaron opened #142 "Deserialization error (Invalid Padding) after django_orm.CredentialsField.to_python"
Hi guys !

I am using google-api-python-client to deal with Google Analytics API. google-api-python-client uses oauth2client to deal with Google's OAuth 2 authentication tokens (which are saved in my Django PostgreSQL DB).

I have created tests which used to pass with Django==1.6.5 and google-api-python-client==1.2 but now fail. I run my test with a fixture containing a model using a oauth2client.

[2015-03-07 15:39] qcaron commented on #142
Oh, here is the serialization of my Credentials Django model that stores the oauth2client.django_orm.CredentialsField value:

[code]

So pretty hard to deserialize...

Shouldn't my credential field be dumped to JSON using
[code]
from oauth2client.django_orm.CredentialsField.get_db_prep_value ???

[2015-03-09 02:51] anthmgoogle commented on #141
My understanding of the plan of record was that gcloud-ptyon can depend on
the existing implementation in oauth2client and the type it returns should
also work as an input to gcloud. I believe this is already enabled, so we
should not need to duplicate such functionality in gcloud-python.

On Fri, Mar 6, 2015 at 3:54 PM, Preston Holmes <notifications@github.com>
wrote:

[2015-03-11 13:25] skrat commented on #76
No it isn't, I'm using latest version, and still getting this error. When I import from REPL, it works, it even works when I import from REPL launched by django shell. But when I run my celery worker, this error pops up. I smell some serious hacks around Python's import machinery here.

[2015-03-11 19:43] anthmgoogle opened #144 "Well known file is created with inapproriate permission"
When I run "gcloud auth login", the file ${HOME}/.config/gcloud/application_default_credentials.json is created with a permission 0644, which seems inappropriate in my opinion. I think it should be 0600 or something stricter.

[2015-03-12 11:19] qcaron commented on #142
Okay I figured out that the CredentialsField field requires a *value_to_string* method so Django 1.7 knows how to dump it correctly.

I ended up with the following code to get it working:
[code]

and changed *get_db_prep_value* to *get_prep_value* :
[code]

I have to test this update in a dedicated virtualenv before making a pull request. If this looks wrong to anyone please let me know ;)

Cheers

[2015-03-17 21:40] #132 closed

[2015-03-18 16:13] lnenov opened #146 "No support for flows that require no redirect_url at all"
Recently I had to use a flow that fails if redirect_url is provided.
I monkey patched an oauth2client(1.2) almost like https://github.com/google/oauth2client/commit/a0d99b9168cefcd6dab19ce68e0b59aef7770bfd and it works fine for me.

But given what a bad practise monkey patching is, it would be great if you can include the possibility to exchange codes without providing any redirect_url.

[2015-03-18 16:48] aaronwinter commented on #93
@dhermes I think @craigcitro is referring to this one:

For future reference:

- [  ] refactor the code a bit so that we can avoid the GCE check in more cases,
- [x] possibly switch to using the IP with a short timeout
- [x] add an env var that says "i'm definitely not on gce, don't bother checking".

[2015-03-21 05:05] kylegoetz opened #147 "Installing via pip fails (404 DistributionNotFound error)"
Howto says to run "pip install oath2client" and here is the output when I do so:

Downloading/unpacking oath2client
  Getting page https://pypi.python.org/simple/oath2client/
  Could not fetch URL https://pypi.python.org/simple/oath2client/: 404 Client Error: Not Found
  Will skip URL https://pypi.python.org/simple/oath2client/ when looking for download links for oath2client
  Getting page https:/

[2015-03-21 05:07] kylegoetz commented on #147
Whoops, had a typo in package name.

[2015-03-21 05:07] #147 closed

[2015-03-24 23:51] dhermes commented on #137
There is a very simple reason, the Google internal style guide.

Though looking at the [current][1] style guide, maybe Google has moved back to using 4 spaces internally? (I left in 2013.)

[1]: https://google-styleguide.googlecode.com/svn/trunk/pyguide.html

[2015-03-24 23:53] dhermes commented on #144
This should be filed against the `gcloud` command line tool, not this library.

Though maybe this library is responsible for the auth bits of `gcloud`, so then it wraps around :)

[2015-03-24 23:56] dhermes commented on #127
@anthmgoogle I'm happy to contribute this but would like to chat briefly. It will require putting a few [Travis encrypted files][1] in the repo. (See [`key.json.enc`][2] for example.)

Doing the actual encryption will require a project owner (and I am not a project owner).

[1]: http://docs.travis-ci.com/user/encrypting-files/
[2]: https://github.com/GoogleCloudPlatform/gcloud-python/blob/master/r

[2015-03-24 23:57] dhermes commented on #123
Can you include the test failure?

[2015-03-25 00:05] anthmgoogle commented on #144
I believe that gcloud calls into oauth2client to write out this file.

On Tue, Mar 24, 2015 at 4:53 PM, Danny Hermes <notifications@github.com>
wrote:

[2015-03-25 00:09] dhermes commented on #114
I filed GoogleCloudPlatform/gcloud-python#757 to make sure we are also doing the right thing.

AFAICT we get around autodetected proxies (and `urllib` magic overhead) by directly using the `httplib` library:

[code]

[1]: https://github.com/GoogleCloudPlatform/gcloud-python/blob/d34a15ed8cefe722233cd183866bcd9eb325439e/gcloud/_helpers.py#L146-L159

[2015-03-25 00:21] dhermes commented on #144
Following the trail (via `git grep`),

- `'application_default_credentials.json'` is only used once as `WELL_KNOWN_CREDENTIALS_FILE`
- `WELL_KNOWN_CREDENTIALS_FILE` is only used when defined and in `_get_well_known_file()`
- `_get_well_known_file()` is only called when reading and in `save_to_well_known_file()`

Finally, the culprit `save_to_well_known_file()` is never used in `oauth2client`, it i

[2015-03-25 00:21] dhermes commented on #144
@anthmgoogle Anyhow I'll submit a PR to fix this.

[2015-03-25 00:34] dhermes commented on #123
From [the code][1]

I'm going to see if I can make this pass irrespective of environment.

[1]: https://github.com/google/oauth2client/blob/fd054dcdcc5f6a4d3a0b7a29f410f415f342044c/tests/test_oauth2client.py#L404

[2015-03-25 16:46] anthmgoogle commented on #127
I would expect that @nathanielmanistaatgoogle should be the primary owner of questions like this.

[2015-03-25 18:03] craigcitro commented on #137
@dhermes is right -- this code was originally written to (mostly) follow the internal google python style guide. it's still 2 spaces.

i think everyone would be amenable to switching to full pep8, but as @anthmgoogle points out we'd cause a lot of churn for outstanding PRs. @nathanielmanistaatgoogle might be able to pick a good point to decree "we heretofore will use pep8".

[2015-03-25 18:17] dhermes commented on #137
We did this in `gcloud-python`. I used `pep8ify` to change the indents and made sure that `git diff --ignore-all-space` was empty.

After that I had to use a [custom script][1] to indent the docstrings.

From there, getting `pylint` compliance took careful tweaking of our config and submitting PRs by hand.

[1]: https://gist.github.com/dhermes/85c3a3a464d2cff312ea

[2015-03-25 19:57] dhermes commented on #123
@craigcitro Can you re-open. #149 on partially fixed this. I want to use `unittest.mock` to replace all the implicit behavior.

[2015-03-25 20:03] dhermes commented on #123
Sorry can you also edit the title to "Mock out implicit behavior so that test_get_application_default_environment_not_set_up always passes"

[2015-03-25 20:42] #144 closed

[2015-03-25 20:48] dhermes commented on #112
Fedora 14 is almost 5 years old: http://en.wikipedia.org/wiki/List_of_Fedora_releases#Fedora_14

Is there a reason to stay on it?

[2015-03-25 21:01] 7AC commented on #112
Our code base is fairly large, we have a team migrating to a more recent version but we're not quite there yet. Either way I was able to get around this by using `oauth2client.client.OAuth2WebServerFlow` and `oauth2client.file.Storage`, which seem to work fine on Fedora 14.

[2015-03-25 21:01] #112 closed

[2015-03-25 22:13] nathanielmanistaatgoogle commented on #127
I think there's likely to be plenty here that I don't understand at the moment but I'm perfectly happy to chat about the changes you'd like to make.

[2015-03-25 22:15] dhermes commented on #127
Great. I'll email you to set up a VC.

[2015-03-25 22:25] nathanielmanistaatgoogle commented on #137
I'm not opposed to it, but spell out the benefit of switching?

[2015-03-25 22:27] craigcitro commented on #137
external users don't see our code and think "why does this all look funny"?

[2015-03-26 11:43] jek888 commented on #76
Confirms the. Same problems.
Skrat, did you find solution?

[2015-03-26 15:06] skrat commented on #76
@jek888  I had to downgrade all the way to the version that doesn't depend on `six`

[2015-03-27 05:52] ptone opened #150 "issue with AppAssertionCredentials and Python3"
seem to be a few edge cases for Python3 - seems similar to #106

https://gist.github.com/ptone/7e45323e91097ed3cc2f

[2015-03-27 14:10] skelterjohn opened #151 "application default credentials don't respect CLOUDSDK_CONFIG"
application default credentials should either be written to "$CLOUDSDK_CONFIG/application_default_credentials.json", with CLOUDSDK_CONFIG defaulting to "~/.config/gcloud".

gcloud promises that it won't write any credential information outside of $CLOUDSDK_CONFIG.

[2015-03-27 14:13] skelterjohn commented on #151
At the very least, it should ensure that directory exists before writing. This bug was discovered by the ADCs failing to write.

[2015-03-30 17:29] anthmgoogle opened #154 ""gcloud auth login" fails due to .config/g cloud directory not existing"
https://feedback.corp.google.com/#/Report/5019840888

Description:
"gcloud auth login" fails due to .config/gcloud directory not existing

It looks to be a bug that "gcloud auth login" fails when CLOUDSDK_CONFIG is set to non-default location.  Either credentials should be stored in the location specified by CLOUDSDK_CONFIG or the parent directories for the default location should be created befor

[2015-03-30 17:58] anthmgoogle commented on #151
#154 is a dupe of this:

https://feedback.corp.google.com/#/Report/5019840888

Description:
"gcloud auth login" fails due to .config/gcloud directory not existing

It looks to be a bug that "gcloud auth login" fails when CLOUDSDK_CONFIG is set to non-default location. Either credentials should be stored in the location specified by CLOUDSDK_CONFIG or the parent directories for the default location

[2015-03-30 17:58] anthmgoogle commented on #154
Dupe of #151

[2015-03-30 17:58] #154 closed

[2015-04-04 00:22] eldavido commented on #76
Confirmed that I'm also seeing this issue. I'm using Pylons on Python 2.7.8. REPL works fine like @skrat mentioned

[code]

but when I import it from within my application, I'm getting a traceback saying "ImportError: cannot import name urllib" from "from six.moves import urllib" in oauth2client.client. I'll post a fix if I find one.

[2015-04-08 11:17] defuz opened #160 "More userfriendly error message, not just "No crypto library available""
Guys, could you create a little more understandable (not only telepath) error message:

[code]

What do you think I should do after receiving this error message?

[2015-04-10 21:54] dhermes commented on #151
I can fix this. Drafting PR now.

[2015-04-10 22:23] dhermes commented on #151
#162 sent

I debated adding a call to `os.mkdir` but I think that's better left to the `gcloud` CLI or the user that has set `$CLOUDSDK_CONFIG` manually.

[2015-04-11 13:49] JelteF opened #163 "Clean_headers is broken in python 3"
[code]

I'm getting this traceback because cleanheaders doesn't converts strings to bytes and httplib2 can't handle those.

The code in question is this:
[code]

for me it works when I just remove that code, but I guess it is for python 2 problems.

I don't mind making a pull request, it's just that I a quite unsure what the lines are supposed to do since in python 3 concatenating strings will alw

[2015-04-13 18:48] thobrla opened #164 "ServiceAccountCredentials need way to modify UserAgent after serialization"
We accept a user_agent in [**init**](https://github.com/google/oauth2client/blob/master/oauth2client/service_account.py#L40) but that doesn't cover deserialization via the Credentials base class from_json method.

Presently to allow for caching, one must need to inherit from the private _ServiceAccountCredentials and hard-code user agent and scopes into to_json / from_json methods.

[2015-04-15 01:19] anthmgoogle commented on #160
defuz@, this is happening because you are loading a .p12 file which is format PCKS#12, which requires a special C crypto library that is not installed by default and is hard to track down. It is agreed that this is a serious usability problem that we have been working on with a new solution.

There are a few options to unblock you. You can locate the the C crypto library, but this is relatively ha

[2015-04-16 03:26] anthmgoogle commented on #164
Agreed. We should add factory overloads to from_stream, but also provide a way to clone the credentials with a changed user agent, so that it can be used with the Default Credentials also. Tracking this bug as part of completing Usable Auth.

[2015-04-16 18:53] thobrla opened #165 "_ServiceAccountCredentials should be public"
Until https://github.com/google/oauth2client/issues/164 is addressed, users of service account credentials need to subclass _ServiceAccountCredentials to override the to_json and from_json methods; thus we should expose this class as public so that consumers don't need to inherit from a private class.

[2015-04-18 03:24] tbetbetbe opened #166 "Add a new credential type, IAMCredential"
It is constructed with and holds two fields
- iam-token
- iam-authority-selector
  IAMCredential applies these values to requests as a pair HTTP headers (or an equivalents) keys
  - "x-goog-iam-authorization-token"
  - "x-goog-iam-authority-selector"
    respectively

N.B, there is no requirement that an IAMCredential be returned by Application Default Credentials.

[2015-04-20 21:45] ptone commented on #141
This is basically now addressed in my mind with:
https://developers.google.com/identity/protocols/application-default-credentials

[2015-04-20 21:45] #141 closed

[2015-04-22 20:32] anthmgoogle commented on #165
Agreed, we should do a review of the surface area and make this public.

[2015-04-23 15:40] chanpete opened #168 ""to_python" function not working in class CredentialsField with python3"
I am a newbie with python.
Recently I was trying to build a small web app with Google API in Django and Python 3.4.

And I use the storage utilities from oauth2client.django_orm
[code]

The storage.put() function work fine but when I use the storage.get() function, it just give me a string but not a credentials object.
After testing and reading the source code of oauth2client.django_orm.
I found t

[2015-04-29 02:17] csssaz commented on #168
I just had the same issue, but when applying your solution I now get "Incorrect padding" when calling len(entities) inside the function locked_get inside oauth2client.django_orm.

Did you had the same problem?

[2015-04-29 02:44] csssaz commented on #142
Hey, I'm having the same problem but couldn't make it work with the solution you point out. Did you just changed those two functions??? Please, provide some more details

[2015-04-29 07:22] qcaron commented on #142
Hello Alejandro,

Here is my field full code for the CredentialsField:

[code]

Hope this helps :)

Cheers,
Quentin

[2015-04-29 16:55] dhermes commented on #151
@anthmgoogle I've got a fix ready in #162. Any issues with it?

[2015-04-29 19:34] #151 closed

[2015-04-30 00:24] csssaz commented on #142
Hello Quentin, thanks for the quick response! I tried using your code, but still get an incorrect padding error.

I'm using Django 1.7.3 with python 3.4.3. Because of this reason, I had to change the metaclass definition from:

class CredentialsField(models.Field):
  __metaclass__ = models.SubfieldBase

to

class CredentialsField(models.Field, metaclass=models.SubfieldBase):

This because of pytho

[2015-04-30 03:05] chanpete commented on #168
I am sorry, I don't have the same problem.
I am not sure what's happened to you. But I found that the "Incorrect padding" may be came from base64.
Others on the internet have the "Incorrect padding" error when base64 decoding.
"The length of any properly encoded base64 string should be divisible by 4."
Maybe you can try to find out the length of the saved data can be divided by 4 or not.

[2015-05-01 17:47] #127 closed

[2015-05-03 06:15] jorr-at-google opened #170 "Suggest supporting passthrough "state" in step1_get_authorize_url"
It is good practice to put an anti-forgery token in the "state" field to defend against cross-site attacks.
See e.g. https://developers.google.com/identity/protocols/OpenIDConnect#accessingtheservice

Suggest enabling this as a kwarg in step1_get_authorize_url.
See: https://github.com/jorr-at-google/oauth2client/commit/a1029673a3f3a541acbed6bc9e46598f7b8122d0

[2015-05-06 02:02] kygx-legend opened #172 "Suggest supporting `proxy_rdns` setting while constructing Httplib2.Http in client.py"
Such as class `OAuth2WebServerFlow` in client.py, when call `step*()` functions, it would construct `Httplib2.Http` objects. If using proxy, `Httplib2.Http` would use proxy from environment. However, if the proxy needs _reverse DNS(rdns)_, all requests of `Httplib2.Http` are blocked and there're no methods to set `proxy_rdns` to `True`. The best way is to construct `Httplib2.ProxyInfo` object whic

[2015-05-06 02:06] legendlee1314 commented on #172
A customer, `depot_tools` in Chromium would be blocked by this issue when running ` depot-tools-auth.py login codereview.chromium.org --auth-no-local-webserver`. It occurs:
[code]

[2015-05-19 00:02] jonparrott opened #184 "ImportError when using default credentials from Managed VMs with non-default runtime"
When using app engine managed VMs without using the "python-runtime" base, (eg, to use python3 instead of 2.7) getting default credentials breaks because "google.appengine" (the app engine sdk) does not exist. ``_get_application_default_credential_GAE`` should treat the absence of the SDK as indication that we are not running on normal GAE and to try other options.

https://github.com/google/oauth

[2015-05-19 19:42] dhermes commented on #184
Should this be closed by #185?

[2015-05-19 19:50] jonparrott commented on #184
Yep, beat me to it. Closed by #185.

[2015-05-19 19:50] #184 closed

[2015-05-21 12:31] macolo commented on #7
It's still great!

[2015-05-21 13:25] dbrgn commented on #7
For the record, oauth2client supports Python 3 since version 1.4 (current version on PyPI is 1.4.11).

[2015-05-22 18:00] craigcitro opened #188 "Intermittent devshell test failures"
from time to time, i've started seeing `devshell`-related test failures, like this:

[code]

it's not consistent -- something is flaky. @aalexand does this look familiar?

[2015-05-22 18:21] aalexand commented on #188
I haven't seen this, but I'll take a look.

On Fri, May 22, 2015 at 11:00 AM, Craig Citro <notifications@github.com>
wrote:

[2015-05-22 18:21] aalexand commented on #188
Is this local or Jenkins runs or both?

On Fri, May 22, 2015 at 11:21 AM, Alexey Alexandrov <aalexand@google.com>
wrote:

[2015-05-22 18:32] craigcitro commented on #188
1. i've only seen it locally on my mac. (maybe it's OSX-specific?)
2. haven't seen it on travis; we don't have a jenkins setup.

[2015-05-23 05:50] craigcitro opened #190 "OpenSSL detection fails if OpenSSL is available, but OpenSSL.crypto is missing."
in the case that someone has installed `OpenSSL` without including the `crypto` module, our `OpenSSL` detection now detects `OpenSSL`, but fails when trying to use it. this wouldn't happen in the case of using `pip`, but could be possible if someone's customized their install (say to remove C extensions in a case like Google App Engine).

@dhermes will surely get a chuckle out of this one. :smile:

[2015-05-26 15:21] dhermes commented on #190
Oh joy!

[2015-05-26 19:51] #190 closed

[2015-05-28 12:10] felagund opened #192 "\u003d aka "=" character in json key breaks oauth2client"
Reported here: https://github.com/burnash/gspread/issues/239 for details, but in -----BEGIN PRIVATE KEY-----\n***\n-----END PRIVATE KEY-----\n", it seems *** must not contain \u003d

This seems to be a problem only for python 2.7 (although possibly python 3 too as I am blocked by https://github.com/google/oauth2client/issues/106 so I might not have got that far with python 3).

[2015-05-28 12:11] felagund commented on #106
Still happening:-(.

[2015-05-28 15:54] dhermes commented on #192
The key should be `bytes`, not unicode.

[2015-05-28 15:56] dhermes commented on #106
This has been working in Python3 for several months and we have a [system test][1] making sure it continues to work.

Here is the crucial part you may be missing in Python 3: open the file as binary

[code]

See the mode above is `'rb'` (read and binary) instead of just `'r'` (read).

[1]: https://github.com/google/oauth2client/blob/d1af8f3e80e4c050432c1be1d76772a3bfe19cdd/scripts/run_system_tests

[2015-05-28 15:57] dhermes commented on #106
Sorry I closed out, can anyone give a code snippet that is failing still? It seems to me this is fully addressed but am not 100% sure of all the things reported here.

[2015-05-29 20:42] #188 closed

[2015-05-30 09:56] felagund commented on #106
Yes, please close, it indeed needs to be in bytes/binary.

[2015-05-30 10:10] felagund commented on #192
Yes, but this is happening with python 2.7 where bytes it just string.

This:

`from oauth2client.client import SignedJwtAssertionCredentials
import gspread
key = "-----BEGIN PRIVATE KEY-----\nMIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBAMJKii1hhVxqjGVa\ntXP16aa/nprMxzNLGwk0WjjFpM8pLWj40RQFZnl/LoIiiPOpRfzihZjj/EP+Uh41\nVq6MCx2wpHOmD++HCG0Z4gNeF/brNmXEXNVtw0AgzBn4wZhb/EeGxYN8Rzuu+Rlz\n3gafw7Snl

[2015-05-30 16:11] dhermes commented on #192
The error you sent is for an invalid key. Also the line you referenced is on line 146, not 169 so you may have an out of date `oauth2client`.

[2015-05-30 16:12] #106 closed

[2015-05-30 17:13] felagund commented on #192
Hm, I am on version 1.4.11, that is recent enough, no?

It also happens with a key provided by google - can I somehow securely send it to you (I do not feel comfortable posting it here)?  I changed a few characters in the one pasted here. Or is Google producing invalid keys?

[2015-05-31 23:29] willdady commented on #168
Just encountered this under Python 3.4.3 on Django 1.8.2. Is there a fix in the works for this?

[2015-06-01 01:10] csssaz commented on #168
I couldn't make it work.

[2015-06-01 17:46] migurski opened #193 "Service Account authentication fails on Linux, works on Mac OS X"
I am using gspread 0.2.5 and oauth2client 1.4.11. On a Mac with Python 2.7.5 I can authenticate to Google and retrieve data using this code:

[code]

On Ubuntu 14.04 Linux with Python 2.7.6 and identical credentials, I see this error:

[code]

I’m at a bit of a loss. Searches for `invalid_grant` come up with solutions that address incorrect configuration, rather than platform-specific failure.

[2015-06-01 17:49] migurski commented on #192
I had a similar problem, and found that even in Python 2.7 I needed to encode the key to utf-8.

[2015-06-01 20:04] felagund commented on #192
What do you mean by encoding it to unicode?

[2015-06-01 20:39] migurski commented on #192
Something like this: `u'\u003d'.encode('utf8')`.

`u'\u003d'` and `b'='` are equivalent in Python 2.7, but oauth2client only wants the latter.

[2015-06-01 22:28] dhermes commented on #193
Yeah an invalid grant means that your refresh token is either

- no longer valid (user retracted permission)
- not associated with the client ID and secret you're using

I'm not sure what to say here. It's possible that some encoding issue has caused incorrect data to be sent.

[2015-06-01 22:32] migurski commented on #193
I don’t have a refresh token; this is a service account. The credentials I’m using are 100% for-sure correct, because they work on a Mac. What kinds of encoding issues should I be looking for?

[2015-06-01 22:38] dhermes commented on #193
Yeah I realized that after writing. I don't know what causes an invalid grant for a service account.

Is the 4-line snippet above sufficient to force the failure? How are you loading the `private_key` variable? How did you copy the file / private key value from one system to the other?

Also, can you verify the versions via:

[code]

[2015-06-01 22:40] felagund commented on #192
Indeed, you are right. When I am not using this (ie. a unicode string encoded as 'utf8' when the key includes `'\u003d'`, I get this error using Pytohn 2.7.9

[code]

Python 3 gives me:

[code]

The code to trigger it is this:

[code]

Note that the key must contain `'u003d'` - again, I am happy to send a JSON file with this, but google throws such json files about 3 tries out of 5 using this guid

[2015-06-02 01:21] migurski commented on #193
Version checks out as 1.4.11.

I’m importing the private key from a file of environment variables, using [honcho 0.6.6](https://github.com/nickstenning/honcho). The top of my file looks like this:

    gdocs_client_email = environ['GDOCS_CLIENT_EMAIL']
    gdocs_private_key = environ['GDOCS_PRIVATE_KEY'].encode('utf8')

The content of my environment file contains entries like these:

    GDOCS_CLI

[2015-06-06 17:00] dhermes commented on #192
So that error is just a bad decode caused by using a fake private key, hence it doesn't showcase the issue at hand.

We don't need you to send a real key, but we do need to see a real stacktrace from trying to use a real key and failing.

Also, are you copying and pasting your key into your file as above

[code]

If yes, that may the be the issue (a copy-paste error). I recommend taking the file y

[2015-06-06 17:03] dhermes commented on #193
I'm also at a loss.

1. Can you give a full code snippet, including the loading of the `client_email` and `private_key` variables? I will then try to run with my own on both Ubuntu and OS X and try to reproduce.
1. Is there a reason you're using a PKCS12 key instead of a JSON service account key?

[2015-06-06 22:10] felagund commented on #192
Yes, opening it like this and not storing it in a file works fine. Is copying it into a file not supported? Or how should I copy it to avoid this error?

The stacktrace that the copypasted real key gives is in my previous comment.

[2015-06-07 13:59] migurski commented on #193
I’m new to service accounts, so I’m pretty dim on the differences between the different kinds of keys. I don’t know why I’d use one over another, and PKCS12 was the first variant I saw an example of and got to work. I’m getting my key out of a downloaded JSON file, so I guess I’m unclear on the difference.

I am loading the two variables from the environment using [honcho](https://github.com/nicks

[2015-06-07 17:34] dhermes commented on #192
Pretty much anything is supported, I'm just trying to figure out what is going wrong. Can you send the stacktrace that occurs with the actual key?

[2015-06-07 17:36] dhermes commented on #193
It could be a `bash` issue / encoding issue in setting the environment variable. I would strongly recommend against getting the key via `os.environ['GDOCS_PRIVATE_KEY']`. Why not just read from a file?

[2015-06-07 18:32] migurski commented on #193
Thanks! It’s definitely not an encoding error; I have added this line and the failure still happens:

    assert hashlib.md5(private_key).hexdigest() == 'ab6abff39a189497370f0362cd6abca1'

My code is being configured via environment variables, so I’d prefer to keep things out of files. I can generate them if needed, but it’s very un-preferred.

[2015-06-07 19:38] dhermes commented on #193
RE: Assertion; That's good to know / doesn't help us pinpoint the bug.
RE: Your preferences; Feel free to keep things out of files, I was just trying to pinpoint an issue.

[2015-06-07 20:39] migurski commented on #193
At least we know it’s not a bash or encoding issue with the environment!

[2015-06-07 20:40] migurski commented on #193
I’ll do some research on the JSON files, maybe there’s something there I’m missing that will route around this issue. Thank you.

[2015-06-07 21:31] dhermes commented on #193
It may still be a bash/encoding issue. How do you set the variable?

I would do

[code]

[2015-06-08 04:52] migurski commented on #193
The variable is being set by Honcho, which reads a file of environment vars in `VAR=value` form. The invocation looks like this:

    honcho -e .env run python google-test.py

The contents are [as above](https://github.com/google/oauth2client/issues/193#issuecomment-107765444), with a line like this:

    GDOCS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nNNNNNN\nNNNNNN\nNNNNNN\n-----END PRIVATE KEY-

[2015-06-08 10:08] vooft commented on #168
Here's the explanation of issue: https://docs.djangoproject.com/en/1.7/howto/custom-model-fields/#the-subfieldbase-metaclass

[code]

To fix this you should modify django_orm.py file according this explanation.

[2015-06-08 10:45] felagund commented on #192
Python 3.4 gives me:

[code]

After executing this:

[code]
(using key1 in the code above works)

Running the same code on 2.7 keeps giving me:

[code]

[2015-06-08 17:31] dhermes commented on #192
The values

[code]

are not real encoded keys. Please test this with a **real** key and let us know if it fails.

----

Also note that using a bytestring won't convert your unicode character as you expect:

[code]

----

The things you are seeing work are just based on the fake contents you were using.

[code]

[2015-06-08 19:25] felagund commented on #192
I am using real keys all along, of course. I posted the code snippets so that it would be clear what I was doing. I replaced the real keys so that somebody would not misuse them.

If I get a key from Google (as explained here: http://gspread.readthedocs.org/en/latest/oauth2.html#custom-credentials-objects ) that contains `'\u003d'` the code stops working.

As migurski pointed out above, one needs

[2015-06-08 19:31] dhermes commented on #192
So can you confirm that using a real key you are seeing

[code]

and

[code]

-----

How are you loading this variables? You won't see anything like `\u003d` in the file you downloaded since it is just bytes. It may be a copy-paste error, or maybe you are actually loading from the file and your example of `key = ...` was just for illustration?

Do you want to email me the key file so we can verify

[2015-06-08 19:45] felagund commented on #192
What is your e-mail address?

I actually have a .json file that I can open in a text editor. I copy pasted the key into my file. I can open it from a file like this:

[code]

Yes, using the real key (as much as what I seen in the json file is real), I get the errors above, provided that I use the very code that I posted above with actual keys (using `'b'''`, not `encode()`).

[2015-06-08 19:54] dhermes commented on #192
Can you try the following:

[code]

and post a stack trace if there are issues?

You could also set the `GOOGLE_APPLICATION_CREDENTIALS` environment variable in `bash` / other shell:

[code]

and then just execute

[code]

[2015-06-08 22:18] felagund commented on #192
That seems to work fine. Maybe there is an issue with theinstructions here: http://gspread.readthedocs.org/en/latest/oauth2.html ?

[2015-06-09 04:17] dhermes commented on #192
Yes. Closing this out. I'm happy to offer suggestions on the `gspread` issue you filed.

It seems your transcription of the key from the JSON file was the issue, but it's not necessary to do, given  that you can just use the code above.

[2015-06-09 04:17] #192 closed

[2015-06-09 05:08] migurski commented on #193
I’m getting nowhere with the JSON route, by the way. Trying this:

[code]

…results in this:

[code]

The file I retrieved from the console looks like this:

[code]

That’s on the 10.9.5 Mac. I’m available to talk via e-mail or Hangout if more detail would be helpful, but just not having a lot of luck with service accounts here.

[2015-06-09 05:21] dhermes commented on #193
Can you try the [following][1]:

[code]

and post a stack trace if there are issues?

You could also set the `GOOGLE_APPLICATION_CREDENTIALS` environment variable in `bash` / other shell:

[code]

and then just execute

[code]

----

Sorry for the confusion / bad naming. IIUC the `SignedJwtAssertionCredentials.from_json` factory is meant for deserialization of an existing `oauth2client` credential

[2015-06-09 05:22] dhermes commented on #193
If this doesn't work, let's hop on hangouts tomorrow.

[2015-06-09 05:36] migurski commented on #193
Seeing this, unsure where to put the scopes in this case:

[code]

I’m available in the early morning and late afternoon tomorrow, thank you for the offer! I’ll follow up via email.

[2015-06-09 06:29] dhermes commented on #193
That's good. It seems you at least got a valid `credentials` object. If you did, then you can add the scopes via

[code]

[2015-06-09 12:57] felagund commented on #192
Yeah, I opened an issue about it: https://github.com/burnash/gspread/issues/244

BTW: this is what I see when I open the file I downloaded from googe in Leafpad (a text editor) - see the \u003d characters at the end of the key:
![screenshot from 2015-06-09 14 50 43](https://cloud.githubusercontent.com/assets/1218098/8058106/4f71930e-0eb7-11e5-9929-b39c38718175.png)

[2015-06-09 16:01] migurski commented on #193
Sadly, the JSON method exhibits identical behavior to the non-JSON one: works on Mac, fails on Linux.

[2015-06-09 16:20] dhermes commented on #192
Thanks a ton for showing this!

Those are base 64 [padding][1] characters (`=`) and there may actually be an error in Google somewhere in the creation of these files.

I'm not really sure where to report it. @craigcitro may know who to talk to.

[1]: http://en.wikipedia.org/wiki/Base64#Padding

[2015-06-09 16:27] craigcitro commented on #192
summoning @anthmgoogle for all things auth and service account keys.

anthony, can you look into this?

[2015-06-09 16:32] dhermes commented on #192
I'm curious that your editor (Leafpad) displays the newline characters are literal `\n`. There is no equivalent escape character `\u` and it is clear that the last two characters are meant to be base64 padding anyhow.

[2015-06-09 16:32] dhermes commented on #193
Let's chat off this thread and see what's happening.

[2015-06-09 16:36] felagund commented on #192
It is not just Leafpad, Gedit, Geany and even notepad.exe through wine  and Libreoffice Writer display it the same. I am on Ubuntu 15.04, my locale is `LANG=en_US.UTF-8`, if it is relevant.

[2015-06-09 16:41] dhermes commented on #192
Thanks for being comprehensive! I'm curious if you open the file as bytes in Python (`open(filename, 'rb')`) what content you see. I'd wager it's a backslash (`\`) character, then the character u, then `0`, then `0`, then `3`, then `d`, but would like to see.

[2015-06-09 16:50] felagund commented on #192
Yes:

[code]

[2015-06-09 16:53] dhermes commented on #192
We miss out on the `\u`, but it seems the `\n` is also literal. Can you print `s[985:1049]` as well?

PS I edited out the client email for you, not

[2015-06-09 16:56] dhermes commented on #192
[code]

[2015-06-09 16:58] felagund commented on #192
Oh thanks, I thought that since I forgot it in the image I attached above, it would not matter anyway.

As requested:

[code]

[2015-06-09 17:00] felagund commented on #192
Also note that I use Python 3 in these examples (but it should be the same, no?)

[2015-06-09 17:02] dhermes commented on #192
Python 3 makes a difference most of the time when processing text, but not likely here since using `'rb'` as our mode.

It does indeed seem to be an issue with the result returned @anthmgoogle

[2015-06-09 19:02] dhermes commented on #193
Resolving. There was massive time drift on @migurski EC2 instance, so the timestamps were already expired.

@anthmgoogle It'd be great if Google provided more than just `invalid_grant` in the error payload.

To debug @migurski and I had to step into the JWT creation code and break apart to see how each segment was being signed. Luckily that was not the issue, and the time drift became clear.

[2015-06-09 19:02] #193 closed

[2015-06-09 19:09] migurski commented on #193
:+1: :+1: :+1:

Thank you for helping me debug this, @dhermes.

[2015-06-10 02:44] parthibanloganathan opened #194 "CryptoUnavailableError thrown since PyCrypto/PyOpenSSL is optional dependency"
`CryptoUnavailableError` was raised from running the code snippet below.

[code]

On closer inspection, it seems it's being raised [here](https://github.com/google/oauth2client/blob/103c354eb6506415961fced0c08f701f95362627/oauth2client/client.py#L1453) because this library requires PyCrypto or PyOpenSSL. Perhaps this dependency should be made clear?

`pip install PyOpenSSL` resolved the issue.

[2015-06-10 02:52] dhermes commented on #194
They are optional for users that don't need to use service accounts and there are cases (e.g. Google App Engine) where users can't actually have them installed.

However, the error message could likely be extended.

[2015-06-12 05:35] Arlus commented on #168
I confirm vooft's fix works. You however have to modify the oauth2client/django_orm.py source.

[2015-06-16 14:48] zosh-cohen opened #195 "Latest python client mismatch with mac OS yosemite python install"
Encountered a version mismatch problem where the pre-installed version of OSX six caused a failure in the python client SDK to run. Details in this stack overflow (http://stackoverflow.com/questions/29190604/attribute-error-trying-to-run-gmail-api-quickstart-in-python)

My command-line output

[code]

[2015-06-16 16:42] dhermes commented on #195
Unfortunately it's much worse than that. When you run `pip install oauth2client`, you get an updated version of `six` on your system.

However, Apple ships out of date versions of `six`, `numpy`, `matplotlib`, `twisted`, and many others in a place that is higher in precedence on your `PYTHONPATH` than the default location used by `pip`.

This is a Python packaging / OS X issue, not one we can fix

[2015-06-16 16:42] dhermes commented on #195
@zosh-cohen Closing out since there isn't anything we can do.

I'm happy to re-open and discuss if you feel there **is** something we can do.

[2015-06-16 16:42] #195 closed

[2015-06-18 20:02] dhermes commented on #166
@tbetbetbe Is there some Google documentation to brush up on?

[2015-06-18 20:05] dhermes commented on #163
This is certainly fixed in the latest version.

[code]

Please re-open if you are still having issues.

[2015-06-18 20:05] #163 closed

[2015-06-18 20:06] dhermes commented on #194
Closing this since #160 already handles improving the error message.

[2015-06-18 20:06] #194 closed

[2015-06-18 21:23] kulturlupenguen commented on #168
@Arlus would you share your django_orm.py source please? I modified like this and now I have incorrect padding error.

[code]

[2015-06-18 22:54] tbetbetbe commented on #166
Nothing yet, but there are examples in other the google-auth-libraries
- ruby google/google-auth-library-ruby#24
- php google/google-auth-library-php#28

[2015-06-18 22:59] dhermes commented on #166
What is the point of adding support for something which doesn't "exist"? Giving end-users a reference to the source instead of documentation is "cowboy coding", no?

[2015-06-22 04:04] felixonmars opened #199 "Support for pyasn1-modules 0.0.6?"
pyasn1-modules 0.0.6 got released, and there are only minor changes. Please review the new version and hopefully allow it in setup.py.

[2015-06-22 15:25] #199 closed

[2015-06-23 07:03] thomasboyt opened #201 "Python 3 + PyCrypto: crypt.verify_signed_jwt_with_certs raises "Invalid token signature" due to string/bytes bug"
I was getting a mysterious "Invalid token signature" error trying to validate Google Sign-In-generated tokens using this method on Python 3.4.0 with PyCrypto. After confirming with jwt.io and the `tokeninfo` endpoint that the token was, indeed, valid, I dove into the method source. [After realizing that all exceptions were swallowed in the PyCrypto wrapper's `verify` method](https://github.com/goo

[2015-06-23 15:56] dhermes commented on #201
@thomasboyt Can you send a code snippet that invoked this failure? Also, what version of the library are you using:

[code]

[2015-06-23 18:16] thomasboyt commented on #201
[code]

The code snippet invoking this failure was essentially identical to the one on https://developers.google.com/identity/sign-in/web/backend-auth#using-a-google-api-client-library

[2015-06-23 18:23] dhermes commented on #201
It seems the relevant bits here then are:

[code]

along with the fact that you are using `PyCrypto` (instead of `pyOpenSSL`) and Python 3.

[2015-06-23 19:32] dhermes commented on #192
Has an internal Google bug been filed with the identity team yet?

/cc @nathanielmanistaatgoogle @anthmgoogle

[2015-06-23 19:35] dhermes commented on #193
Has an internal Google bug been filed with the identity team yet?

Easy to file issue:

[code]

/cc @nathanielmanistaatgoogle @anthmgoogle

[2015-06-24 00:24] dhermes commented on #201
I am verifiying the failure in https://gist.github.com/dhermes/f77b972cbd5934b5f403 (with an expired token for my personal GMail account). My hunch is that the problem is with `'%s.%s'` when signing the first two segments of the JWT.

[2015-06-24 00:31] dhermes commented on #201
I tested on Py2.7 and Py3.4 with OpenSSL and PyCrypto. Of the four possible cases, it **only** fails on Python 3.4 with PyCrypto.

[2015-06-24 00:54] maemigh opened #202 "support for pyasn1 0.1.8"
New version of pyasn1 was just released

[2015-06-24 01:03] dhermes commented on #202
Thanks. @maemigh are you a part of the `pyasn1` project or just an enthusiastic user?

https://github.com/google/oauth2client/blob/c5eb9f14d46d89fb33c4409a0d32fad4b919e136/setup.py#L39

shows that we have a pinned dependency.

@craigcitro do you know why this is the case historically?

[2015-06-24 01:19] dhermes commented on #201
With the most recent [revision][1] of the gist (making sure `signed` part was bytes, as suggested), all four scenarios are [working][2].

[1]: https://gist.github.com/dhermes/f77b972cbd5934b5f403/revisions
[2]: https://gist.github.com/dhermes/f77b972cbd5934b5f403/3bab27f19cf169985e445b1d795cd2a21efe6bea

[2015-06-24 02:02] dhermes commented on #201
@thomasboyt Thanks a lot for this. I saw your tweets and tried to help out a little bit.

Question, why are you using the special combination of PyCrypto and Python 3.4? Typically we see people using PyCrypto without OpenSSL when they are on App Engine. But Python 3.4 means this isn't the case.

[2015-06-24 04:37] craigcitro commented on #202
i think we were just being conservative -- we didn't originally want to depend on a library at `0.1.x` or `0.0.x` (`pyasn1_modules`), so pinning to a known-working version seemed safer than accidentally picking up breaking changes.

is there something we need in the new version?

[2015-06-24 04:55] maemigh commented on #202
I'm just a user. Nothing I needed it for in particular--I ended up with the newer version after upgrading some other modules and noticed that oath2client wouldn't work with the new version without hacking the requires file.

I suppose downgrading or just leaving the hack in place works fine if you are reluctant to remove the pin.

[2015-06-24 04:58] craigcitro commented on #202
using `>=` is probably better for the outside world. the real issue is that internally, we pin to a particular version, which means pinning externally keeps the two in sync. :grinning:

[2015-06-24 05:04] dhermes commented on #202
BigCorp should learn how to play nice with Open Source. Isn't there same way to pin internally or just have a custom `setup.py` internally?

[2015-06-24 05:14] craigcitro commented on #202
we're pinned internally. so pinning outside keeps things consistent; i don't think it's a big issue to switch to `>=`.

[2015-06-24 05:19] dhermes commented on #202
Thanks @maemigh for filing and thanks @craigcitro for coming out of retirement to take my snark :smiling_imp:

[2015-06-24 16:36] #202 closed

[2015-06-25 17:52] pcostell opened #205 "Existence of GAE SDK prevents use of GCE credentials"
This is a problem if you are using something like remote API (or just have the app engine SDK in your python path) while running on GCE. You are able to import `google.appengine`, but you aren't running inside of appengine.

I think it may just be a matter of changing this line: https://github.com/google/oauth2client/blob/58f1c56e992851040d1ce3a3cf29d1b1c59e2834/oauth2client/client.py#L1006 to be

[2015-06-25 17:57] dhermes commented on #205
@pcostell If running the remote API, all the App Engine APIs will work (remotely).

I'm not sure how I feel about this. If users know they want GCE credentials, the fastest way will always be

[code]

The Google Default Credentials (implicit) way requires an HTTP request to the metadata server, which is an unnecessary overhead.

[2015-06-25 18:04] pcostell commented on #205
Hey Danny -- I believe it depends on how you get the credentials to use for remote API. In particular, I'd like the user to be able to use GCE credentials if it is running on GCE, but use gcloud credentials if running locally. It seems this is what get_application_default is designed for.

More specifically, I want to support users running `ndb` on top of gcloud/Cloud Datastore. In order to suppor

[2015-06-25 18:36] dhermes commented on #205
Yeah I'm totally with you on seeing the App Engine SDK. I'm curious how common it is?

The only reason I blanch here is because on GCE

[code]

already takes longer than it should and addressing this use-case would require checking for an exception. (If the App Engine imports work, would need to check that the modules don't work by executing them).

The reason we defer the GCE check until the end

[2015-06-25 18:38] dhermes commented on #205
@pcostell WDYT of this as a check for live App Engine vs. just the SDK being present:
http://stackoverflow.com/questions/1916579/in-python-how-can-i-test-if-im-in-google-app-engine-sdk

[2015-06-25 18:43] pcostell commented on #205
That seems reasonable -- From my reading of the Java application defaults, it thinks it is in GAE if It has the App Engine SDK and SERVER_SOFTWARE is set. Maybe we can just set `has_gae_sdk = 'SERVER_SOFTWARE' in os.environ` [here](https://github.com/google/oauth2client/blob/58f1c56e992851040d1ce3a3cf29d1b1c59e2834/oauth2client/client.py#L996)

Basically only assume that we are in App Engine if it

[2015-06-25 19:46] dhermes commented on #205
Yup. That would allow us to continue the hierarchy of `GAE -> Files -> GCE` (and avoid the performance hit). Do you think it's worth distinguishing between production (`Google App Engine/X.Y.Z`) and the dev server (`Development/X.Y`)?

----

Also, thanks for helping me forcing me to time the metadata server failures and surface the 0.8 second penalty in `oauth2client` (that we don't have in `gclou

[2015-06-25 21:14] pcostell commented on #205
Distinguishing is probably worthwhile. In particular, I don't think GAE local development servers care what oauth credentials you use. Although I don't know if we would do anything differently (since the local one won't bother trying to validate, so invalid credentials work fine).

Ya, that's a rough penalty. Good thing we cache the environment :-)

[2015-06-26 03:07] anthmgoogle commented on #205
I agree with the plan to keep being able to probe for files or GCE if the GAE is loadable but the settings indicate you are not in the actual runtime. We hit an analog of this problem in the Java implementation and fixed already in a simlar way, by making an explicit check in addition to type loading. For people that have code targetting multiple environments it is not crazy to have GAE components

[2015-06-30 11:49] sr-murthy opened #207 "`oauth2client` key error when instantiating a `gspread` client"
In my Google Developers Console account I have created OAuth 2.0 credentials for a Google spreadsheets client I am writing using the [`gspread` library](https://github.com/burnash/gspread) - I create the client using `gspread.authorize(OAuth_credentials)` where

[code]
is the OAuth 2.0 credentials I created.  But I get the following error which is related to the `oauth2client` library:

[code]

[2015-06-30 19:27] dhermes commented on #207
Looks like it's related to the `RSA` library :smile: but let's see what we can do.

How are you loading `client_private_key` in your program?

Can you execute this for me:

[code]

[2015-06-30 19:54] sr-murthy commented on #207
Hi, the strange thing was that it was working as written originally, and the problem only started occurring today (30/06).  (Since you've replied I've replaced `oauth2client.SignedJwtAssertionCredentials` by `oauth2client.GoogleCredentials` and this does work.)

The `oauth2client` version is 1.4.11 (and the `gspread` version 0.2.5).

The old code still causes the same RSA key error.  Here, the pri

[2015-06-30 19:59] dhermes commented on #207
That's pretty strange. How do you load the JSON contents into brand? Do you open the file in `'rb'` mode?

This may be related to #192, i.e. there may have been a malformed key.

[2015-06-30 20:41] sr-murthy commented on #207
The JSON data are stored on a config web page, which is part of our stack, and this is accessible to the `brand` objects.  It's one Django app talking to another.  The data are stored in standard Django form fields.

[2015-06-30 20:58] dhermes commented on #207
How did it get loaded into the Django form field?

From the RSA error (I assume you are on [release 2.6.1], which is latest on PyPI), it seems that the value you are using doesn't have the correct newlines / whitespace.

Check out the failing section (in the 2.6.1 release):
https://github.com/dlitz/pycrypto/blob/7fd528d03b5eae58eef6fd219af5d9ac9c83fa50/lib/Crypto/PublicKey/RSA.py#L632-L638

[1]: h

[2015-07-01 14:28] sr-murthy commented on #207
Now I get a different error when I  `service_account._ServiceAccountCredentials()` method with the credentials, including the private key:

    Traceback (most recent call last):
    File "<console>", line 6, in <module>
    File "/usr/local/lib/python2.6/dist-packages/oauth2client/service_account.py", line 51, in __init__
      self._private_key = _get_private_key(private_key_pkcs8_text)
    File

[2015-07-01 14:40] dhermes commented on #207
This is essentially the same as

[code]

which [happens in `PyCrypto`][1] (same link as above).

----

I'm closing out because this confirms that you aren't loading the key correctly.

----

## Recommendations

1.  Make sure you are loading the file correctly
1.  Make sure you are using a PKCS12 key with

[code]

    and that you are using a JSON key with

[code]

----

I'm happy to re-open if you

[2015-07-01 14:40] #207 closed

[2015-07-01 14:40] sr-murthy commented on #207
Why does it complain that it cannot find the PEM marker when the private key does contain the marker?  This is how the key starts:

    -----BEGIN PRIVATE KEY-----\\n .....

[2015-07-01 14:42] dhermes commented on #207
It looks like you're loading the key incorrectly into `brand`.

Notice that `\\` is an escaped backslash. So instead of the newline `\n`, you have just a literal backslash `\` followed by an `n`. So when the code tries to split on a newline (or any whitespace), it doesn't break up `-----BEGIN PRIVATE KEY-----` from the next line.

[2015-07-01 14:45] sr-murthy commented on #207
I am not using `SignedJwtAssertionCredentials` to create the credentials, I am using the following code

    credentials = service_account._ServiceAccountCredentials(
        service_account_id=client_id,
        service_account_email=client_email,
        private_key_id=client_private_key_id,
        private_key_pkcs8_text=client_private_key,
        scopes=client_auth_scopes
    )

You can see f

[2015-07-01 14:45] sr-murthy commented on #207
OK, so I remove the double back slashes.

[2015-07-01 14:46] sr-murthy commented on #207
I don't how those double slashes got there.

[2015-07-01 14:50] dhermes commented on #207
Yes https://github.com/google/oauth2client/blob/c47dcd7f66cb8463e5432ad1f2a2a54cc4653df4/oauth2client/client.py#L1353-L1358 is the relevant section of code and you are totally right.

This experience actually makes me think we need to
- merge together `service_account._ServiceAccountCredentials` and `client.SignedJwtAssertionCredentials`
- add a public factory constructor which does what `_get_app

[2015-07-01 14:59] pcostell opened #209 "test framework is fragile to file permissions changes (+x)"

[2015-07-01 15:02] sr-murthy commented on #207
In my Sublime Text 3 I found and replaced every occurence of '\n' in the private key with an empty string, and it still complains:

    ValueError: No PEM start marker "-----BEGIN PRIVATE KEY-----" found

[2015-07-01 15:08] sr-murthy commented on #207
It would be helpful if the library itself was able to remove these newline characters.  The JSON key I downloaded was "straight from the source" so to speak, from Google itself.  I just copied and pasted the key into our config web page, which is then accessible to our Django objects.

[2015-07-01 15:14] dhermes commented on #207
The copy-paste is the point of failure.

You don't want an empty string, you want a newline character.

Google itself does remove the newline charactewrs, the issue is that the literal `\\n` is not a newline character, it's a literal `\` followed by a literal `n`.

Do this to see the difference in Python

[code]

[2015-07-01 15:16] dhermes commented on #209
See comments on #208 and #86 for context.

[2015-07-01 15:20] pcostell commented on #209
Bringing the conversation here:
 In theory watching for drastic coverage changes could have caught this -- it would have dropped from ~65% to 55%.

[2015-07-01 15:22] dhermes commented on #209
That's true. I was writing it off as one less line of code without any new coverage (`(A - 1) / (B -1) < A / B`) without actually looking at the difference between numbers.

A true solution would be 100% code coverage and having coveralls fail if it ever dropped.

[2015-07-01 15:25] sr-murthy commented on #207
I did this manually, i.e. replaced every occurence in the key of a '\n' character with a carriage return, and the call `rsa.pem.load_pem(pk, 'PRIVATE KEY')` now works.

I didn't that OAuth 2.0 would be this complicated! :)

[2015-07-01 15:30] dhermes commented on #207
Sorry for the long road here.

In the future, load the contents from the file you download instead of copying and pasting and you won't have these complications.

[2015-07-01 16:45] eamonnmcmanus commented on #209
Actually @dhermes when you looked it really was just one less line of code. I added the regression test later at the request of @nathanielmanistaatgoogle and that's when I screwed up the permissions.

[2015-07-01 17:03] dhermes commented on #209
Yeah that's true. I think 100% code coverage makes it fool-proof. Finding a permission change among

![screen_shot_020](https://cloud.githubusercontent.com/assets/520669/8460290/5f52a1dc-1fd8-11e5-808f-02b33eb88912.png)

is not an easy task

[2015-07-01 17:26] eamonnmcmanus commented on #209
Oh wow, those are octal permission masks. Live and learn.

[2015-07-01 17:29] dhermes commented on #209
Indeed, but no one would even think to look at them during a code review.

[2015-07-01 17:34] dhermes opened #211 "Clean up Service Account support"
See the discussion in #207. Though not directly related, it revealed a few things.

1. There should just be a single service account class with factory constructors to handle PKCS12/P12 vs. JSON keys
1. It seems that usable auth created a shadowed `service_account._ServiceAccountCredentials` class that does essentially the same thing that `client.SignedJwtAssertionCredentials` does
1. We should be

[2015-07-01 19:08] sr-murthy commented on #211
Hi,

would you like to me to do the change and make a pull request for this?

Sandeep

[2015-07-01 19:37] dhermes commented on #211
No I or some other maintainer can handle it. I just wanted to give a source for the issue. Thanks though!

[2015-07-02 17:12] dhermes opened #212 "Get to 100% code coverage"
- [x] `oauth2client.client`
- [x] `oauth2client.contrib.appengine`
- [x] `oauth2client.contrib.django_orm`
- [x] `oauth2client.contrib.django_util.apps`
- [x] `oauth2client.contrib.locked_file`
- [x] `oauth2client.contrib.multistore_file`
- [x] `oauth2client.tools`
- [x] `oauth2client.util`
- [x] `tests.contrib.test_multistore_file` (#431, 3 branches: [1][2], [2][3], [3][4])
- [x] `tests.test_clie

[2015-07-02 17:13] edevil commented on #76
I had this problem, but upgrading six to 1.9.0 solved it.

[2015-07-02 17:17] dhermes commented on #76
Thanks @edevil for the confirmation! Right now [we've got][1] `six>=1.6.1`.

I'm curious about some of the other reports though.

[1]: https://github.com/google/oauth2client/blob/4fdd7f98fd56b843c7f9ad35ed5ff2f33f8454a4/setup.py#L42

[2015-07-02 17:23] dhermes commented on #212
This will "fix" #209 among other things.

Overall, test status of this library is quite bad and the uber-module `client.py` and it's uber-test-module `test_oauth2client.py` could benefit from being split apart.

[2015-07-02 17:24] #205 closed

[2015-07-02 17:26] dhermes opened #213 "Allow Travis to auto-release"
See #208 for a discussion about release.

See https://github.com/GoogleCloudPlatform/gcloud-python/blob/bb25b9e924c12c648c3b5ac50d5bdc18409b2a5a/.travis.yml#L24-L33 for an example and http://docs.travis-ci.com/user/deployment/pypi/ for docs.

[2015-07-02 17:32] dhermes commented on #213
Via https://pypi.python.org/pypi/oauth2client:

Package Index Owner: jcgregorio, Craig.Citro, Nathaniel.Manista

[2015-07-02 17:43] dhermes commented on #76
It seems this import should work in every version after `1.6.1` except for `1.7.1`. But `1.7.1` is broken in every way.

See below (I ran this from a virtual environment):

[code]

[2015-07-02 17:44] dhermes commented on #76
@edevil I'm inclined to leave this closed.

What version did you have before?

[2015-07-02 17:48] dhermes commented on #213
[code]

yields

#189
#191
#196
#197
#200
#204
#206
#208
#210

[2015-07-02 19:40] edevil commented on #76
I had 1.1.0.

[2015-07-02 19:56] dhermes commented on #76
Whoa. I'm curious why that wasn't caught by `six>=1.6.1`.

[2015-07-02 21:01] edevil commented on #76
I use a requirements file with pip to install specific module versions. I had 1.1.0 for six, maybe that's why?

[2015-07-02 21:09] dhermes commented on #76
Quite possible.

[2015-07-06 21:58] dhermes commented on #212
First order of business, separate out import madness from `crypt.py` and put `OpenSSL` and `pyCrypto` implementations in separate modules.

[2015-07-06 22:08] dhermes commented on #211
I [played around][1] a bit and it seems like P12->JSON is possible but JSON->P12 is not.

The reason is that a P12 key is made up of a PEM certificate and a PEM key, which can be seen via:

[code]

On the other hand, the JSON key file has a `private_key` field, but no corresponding certificate field. It may be that the `private_key_id` field corresponds to a certificate stored internally within Go

[2015-07-06 23:11] dhermes commented on #211
As it turns out, JSON->P12 can be done as well (at least for getting an access token). It's as easy as

1. Creating a PKCS12 object
1. Adding the JSON private key to the object
1. Exporting the object to a file with the given passphrase

[code]

See my gist at the latest [revision][1] to see all cases covered.

[1]: https://gist.github.com/dhermes/5907b8e19b2321fce35b/8ab388eaf434565375b5030f0a1fd

[2015-07-06 23:49] dhermes commented on #211
Some notes on differences and similarities between `client.SignedJwtAssertionCredentials` and `service_account._ServiceAccountCredentials`.

## Similarities:

-   Both define class constant `MAX_TOKEN_LIFETIME_SECS = 3600 # 1 hour in seconds`
-   Both inherit directly from `client.AssertionCredentials`
-   Both use `(aud, scope, iat, exp, iss)` and anything from `kwargs` as the keys in the diction

[2015-07-06 23:59] dhermes commented on #211
Changed

[code]

and tested that minting a token worked, and not sending a `kid` made no difference at all.

[2015-07-07 00:20] sr-murthy commented on #211
I'm actually using `service_account._ServiceAccountCredentials` in my code to create credentials with which to authorized and get a `gspread` client.  Why couldn't this just be made "public" as well?

What is missing is a simple public method for creating service account credentials using only five pieces of data: the client ID, client email, private key ID, private key, and authentication scopes.

[2015-07-07 00:27] dhermes commented on #211
@sr-murthy Thanks for letting us know. The plan right now is to make one class with two easy to use factory methods. For example:

[code]
----

Also, please don't depend on private / protected methods, functions, or class as they may be deprecated in future releases.

[2015-07-08 22:17] anthmgoogle commented on #211
Some context.

The "private_key_id" can in theory apply to p12 keys also, but you would have to provide it as a separate input, e.g.  as an optional 3rd parameter to "from_p12" because it is not in that file. As you discovered, nothing breaks if you remove it, but we were advised to put this in by security experts. Apparently it can help performance and diagnostics on the server side, as it can id

[2015-07-08 22:31] dhermes commented on #211
Thanks for chiming in! That's fine with me. Re `from_json`, that is problematic since this name is already used throughout the `oauth2client` library for de-serialization.

[2015-07-09 01:48] anthmgoogle commented on #211
OK. We should find another name like from_dictionary for this, but the function is needed. Code that reads a file that could be either user or a service account needs to forward the dictionary it parses on to this method.

[2015-07-09 01:51] dhermes commented on #211
Totally agree :+1:

[2015-07-09 18:04] bigblind commented on #170
I'd like to see this too.

[2015-07-10 00:47] pcostell opened #218 "Add better handling for NO_GCE_CHECK"
Right now, you have to provide the exact string "True" to NO_GCE_CHECK in order to disable the check. This is somewhat error-prone as it's easy to think you've disabled the check but you actually haven't.

[2015-07-13 20:17] #201 closed

[2015-07-13 20:31] dhermes commented on #201
@thomasboyt Sorry it took so long to get this fixed. I'm not sure when the next release will be cut.

Care to offer why you are using the special combination of PyCrypto and Python 3.4?

[2015-07-13 23:24] thomasboyt commented on #201
Thanks for this PR; I've got a hotfixed fork I'm using but will switch back once the next release is cut :)

As for why PyCrypto: I'm using http://www.paramiko.org/ in my codebase and that depends on PyCrypto, so it's what I had installed by default. I could use PyOpenSSL if it were a requirement, but I figured that since it supported either, I'd just stick with PyCrypto.

[2015-07-13 23:27] dhermes commented on #201
Thanks for the info! We certainly want to support all code-paths, Py3.4+PyCrypto just seemed to be a rare one.

[2015-07-14 18:49] PAStheLoD commented on #201
It could be rare, but we also happened to spend quite a few hours figuring this out on Py3.4 with PyCrypto. :)

[2015-07-14 18:51] dhermes commented on #201
Sorry for the trouble. Thanks for the report!

[2015-07-17 21:53] tidushue commented on #168
My solution for python3, with postgres database:

There is a missing step right before saving the byte data to database, and after retrieving the data back from database: The byte data need to be converted to/from string first. You can convert byte to string and vice versa with `decode("utf-8")` and `encode("utf-8")`.

You also do not need the  `__metaclass__` (new in python3), but need to have `g

[2015-07-22 22:54] anthmgoogle opened #223 "Implement Decorator 3LO pattern for Django"
The OAuth2Decorator pattern has been implemented for the WebApp2Framework. See the class OAuth2Decorator here:
https://github.com/google/oauth2client/blob/master/oauth2client/appengine.py

This pattern if very effective for usability of 3LO and should be extended to other frameworks. This item tracks implementing this pattern for DJango.

[2015-07-22 22:55] anthmgoogle opened #224 "Implement Decorator 3LO pattern for Flask"
The OAuth2Decorator pattern has been implemented for the WebApp2Framework. See the class OAuth2Decorator here:
https://github.com/google/oauth2client/blob/master/oauth2client/appengine.py

This pattern if very effective for usability of 3LO and should be extended to other frameworks. This item tracks implementing this pattern for Flask.

[2015-07-22 22:56] anthmgoogle opened #225 "Implement Decorator 3LO pattern for Bottle"
The OAuth2Decorator pattern has been implemented for the WebApp2Framework. See the class OAuth2Decorator here:
https://github.com/google/oauth2client/blob/master/oauth2client/appengine.py

This pattern if very effective for usability of 3LO and should be extended to other frameworks. This item tracks implementing this pattern for Bottle.

[2015-07-23 12:00] bigblind commented on #224
Should separate modules be craeted for flask, bottle etc in the oauth2client directory? Or would we create an `integrations` module that contains all of this?

[2015-07-23 14:39] dhermes commented on #224
I vote (strongly) for separate modules.

I also vote for approaching this as an opportunity to think about extensibility. In other words, make it so that it's clear and easy for someone to build such an extension (maybe even just build this as extension libraries, e.g. [`requests-oauthlib`][1]).

[1]: https://github.com/requests/requests-oauthlib

[2015-07-23 22:20] jonparrott commented on #224
I'm working on this, as I have existing sample code that mostly does this. I'll submit a PR shortly and we can continue discussion there as we flesh this out.

[2015-07-31 18:43] #224 closed

[2015-07-31 19:06] jonparrott opened #228 "Credentials should keep track of which scopes are authorized"
This will allow us to support [incremental auth](https://developers.google.com/+/web/api/rest/oauth#incremental-auth).

I propose:

1. We add a new property ``scopes`` to ``OAuth2Credentials``.
2. We add a new function ``has_scopes`` to ``OAuth2Credentials`` that determines if the provided scopes are a subset of the authorized scopes.
3. We modify ``OAuth2WebFlow`` to store the scopes when constru

[2015-07-31 19:15] dhermes commented on #228
:+1:

[2015-07-31 21:30] benoitpointet opened #229 "faulty requirements pyasn1_modules"
Hey there,

I'm trying to `conda build oauth2client` but it doesn't work since the requirements in `oauth2client/setup.py` specifies `pyasn1_modules` while on pypi etco the module is known as `pyasn1-modules` (dash and not underscore).

No idea how to solve it?

[2015-07-31 21:43] dhermes commented on #229
Thanks. We've never noticed becaused `pip` resolves it with no issues.

Here is the PyPI project:
https://pypi.python.org/pypi/pyasn1-modules

[2015-07-31 22:04] benoitpointet commented on #229
Thanks, I could bypass the thing by modifying the conda recipe to build towards the underscore variant.

[2015-07-31 22:07] dhermes commented on #229
No need to close, it's easy for us to change, I was just trying to figure out why we had never noticed.

[2015-08-03 18:07] anthmgoogle commented on #228
This plan sounds good to me.

[2015-08-04 11:54] anniesullie opened #231 "Please add license header to auth2client/__init__.py"
Some chromium dependencies import this project and would require the presence of valid license headers in all source files.

[2015-08-04 14:31] dhermes commented on #231
#232 will address this but it may be awhile before a new release is cut.

[2015-08-04 18:07] #231 closed

[2015-08-05 19:54] #229 closed

[2015-08-05 23:25] #213 closed

[2015-08-06 08:03] changzhuo opened #239 "[Python 3] oauth exception (the JSON object must be str, not 'bytes') when using gcloud.storage"
In <https://github.com/google/oauth2client/blob/0aad0a09f50312e0fcc3a1234f0e7fb525010bfd/oauth2client/gce.py#L86>, the code uses `d = json.loads(content)` to load `content` as JSON. The code is broken in Python 3 because `content` is binary, while `json.loads` expects string.

[2015-08-06 15:12] dhermes commented on #239
Thanks for the report. Do you have some code you used to test this? I'm planning on doing:

[code]

once I get an easy Python 3 set-up script in place for a new instance.

[2015-08-06 15:48] dhermes commented on #239
To set up the instance:

[code]

[2015-08-06 15:50] dhermes commented on #239
If someone has time to send a fix (and test it with both `bytes` and `unicode`) it's as simple as:

[code]

[2015-08-07 01:19] czchen commented on #239
Looks good in my environment. Please send a PR and release a bug fixed version.

My environment are:

* Google Compute Engine (ubuntu 14.04)
* virtualenv with Python 3.4

with the following test code

[code]

The original `oauth2client` causes the following exception
[code]
And the patched code does not.

[2015-08-07 17:31] dhermes opened #240 "Remove gh-pages (defer to readthedocs.org)"
Current gh-pages branch is serving at, but it doesn't need to be: http://google.github.io/oauth2client/

We could put a redirect there to go to readthedocs.org

Also, I was under the impression that `gh-pages` was automatically updated by Travis, but it turns out that it was a manual process, so the docs are out of date.

From [`gh-pages` log][1]  it looks like @craigcitro was doing it by hand, wi

[2015-08-07 17:33] dhermes opened #241 "Make Sphinx understand Google docstring style"
Currently, certain things don't get build as expected:
![screen_shot_008](https://cloud.githubusercontent.com/assets/520669/9141722/a85dbf54-3cef-11e5-9776-2973039eab67.png)

The other option is just to convert the docstrings to Sphinx/ReST style (maybe could go nicely with #137).

[2015-08-07 18:04] nathanielmanistaatgoogle commented on #241
The right thing to do here is for our code to conform to whatever the Python-language-wide accepted standard is rather than teach the standard tools to understand our code. :-)

[2015-08-07 18:06] dhermes commented on #241
I don't know if Sphinx is "Python-language-wide accepted", but python.org is built with it, so that's good.

Also, Google style docstrings are pretty well known, so there may be a Sphinx plug-in. I should've made it clear that no code should be written / kittens harmed in the resolving of this issue.

[2015-08-07 18:07] craigcitro commented on #240
+1 on moving to readthedocs -- i was going to, but never got around to it. once you do, i fully intend to steal that code for other repos.

[2015-08-07 18:07] dhermes commented on #241
And here's your sign: https://pypi.python.org/pypi/sphinxcontrib-napoleon

[2015-08-07 18:08] dhermes commented on #241
Even better it's already in `docs/conf.py`: https://github.com/google/oauth2client/blob/62b7f26d5852100221f59a88d6bcf2da6e218fc9/docs/conf.py#L21

Somehow it's missing that image I posted though.

[2015-08-07 18:08] dhermes commented on #240
It's already done.

[2015-08-07 18:09] dhermes commented on #240
Should also note that `tox -e docs` should fail Travis builds if newly generated sources (generated by `sphinx-apidoc`) are not committed in the repo. For example #234.

[2015-08-07 18:12] dhermes commented on #241
Culprit, `Exceptions` is not one of the accepted section headers. Should be `Raises`.

From the napolean docs:

![screen_shot_009](https://cloud.githubusercontent.com/assets/520669/9142538/2b969cc4-3cf5-11e5-90ec-93a6d89f0bd8.png)

[2015-08-07 18:13] dhermes opened #242 "Do a docs pass to make sure all content renders as expected"
This is a child of #241.

[2015-08-07 18:31] #241 closed

[2015-08-07 18:37] dhermes commented on #241
@nathanielmanistaatgoogle It seems the webhook to auto-build isn't set up.

When I view webhooks for a project I am an admin for, I see:

![screen_shot_010](https://cloud.githubusercontent.com/assets/520669/9143048/9e8f534e-3cf8-11e5-86e3-fcf946a2798d.png)

Can you check out

https://github.com/google/oauth2client/settings/hooks

and see if the hook is set up? If not, we'll need to figure out a wa

[2015-08-07 18:39] dhermes commented on #241
FWIW I manually forced a rebuild and the rendering issue is [resolved][1]:

![screen_shot_011](https://cloud.githubusercontent.com/assets/520669/9143091/f8ce5468-3cf8-11e5-93db-d678d45c3719.png)

[1]: http://oauth2client.readthedocs.org/en/latest/source/oauth2client.html#oauth2client.client.AccessTokenCredentials

[2015-08-07 18:44] nathanielmanistaatgoogle commented on #241
Your suspicion is correct; ReadTheDocs does not appear under "Services" at this time.

[2015-08-07 20:11] dhermes commented on #241
(For postery:) Added easily via: https://read-the-docs.readthedocs.org/en/latest/webhooks.html

[2015-08-10 21:52] dhermes opened #251 "util.py and _helpers.py should be merged"
That's my fault for creating `_helpers` and not realizing `util` was there.

[2015-08-10 22:53] anthmgoogle opened #252 "JwtAccess Credentials Feature"
Tracking completion of implementation of JwtAccess Credentials for service accounts for Python. This is a service account that passes a JWT directly as an a bearer token instead of exchanging for an access token.

For reference, the Java implementation:
https://github.com/google/google-auth-library-java/blob/master/oauth2_http/java/com/google/auth/oauth2/ServiceAccountJwtAccessCredentials.java

[2015-08-10 22:55] dhermes commented on #252
Cool. See #211 as well. May be able to do them all with one class.

[2015-08-10 23:30] anthmgoogle opened #253 "Promote OAuth2 service account to Jwt Access credentials"
Application Default Credentials can return Oauth2 service account credentials. gRPC can use more efficient JwtAccess credentials in place of this if no scopes have been specified. This tracks logic to detect this case and "promote" the credentials to JwtAccess form with the same identity properties if the OAuth2 form is passed in for use by gRPC.

Logic should be similar to this (in Java):

[code]

[2015-08-10 23:40] anthmgoogle opened #254 "Jwt Access Credentials should cache JWTs"
The JWT Access Credentials should temporarily cache JWTs. Suggested algorithm:
- Hash JWTs using Audience as key.
- Also store the timestamp of last use with each JWT.
- On access clear any JWT unused for more than 1 hour.

[2015-08-11 01:11] dhermes commented on #254
On the instance or module? Threadsafe?

[2015-08-11 16:55] anthmgoogle commented on #254
On the instance. It should have the same thread safety as the other credential types.

[2015-08-11 17:42] bshaffer opened #255 "Suggested additional documentation at the head of flask_utils.py"
It would be beneficial to add a section in the docs at the top of [`flask_utils.py`](https://github.com/google/oauth2client/blob/master/oauth2client/flask_util.py) explaining the blueprints  of `/oauth2authorize` and `/oauth2callback` ([here][1])

Something saying those routes are available via blueprints, how to use them (aka declaring an `authorize_callback` function, setting `scope`) and how to

[2015-08-11 17:43] bshaffer commented on #255
cc-ing @jonparrott as I do not have permission to assign

[2015-08-11 17:51] jonparrott commented on #255
Acknowledged. Will tackle tomorrow.

[2015-08-12 03:00] mringg opened #256 "Invalid response 400. Error: invalid_scope"
I found one problem when I began to try auth Google's Service with oauth2client.
The scope is 'https://ddp.googleapis.com/api/ddp/',I can auth that by the api of Java.
The information of problem is,oauth2client.client.OAuth2DeviceCodeError: Invalid response 400. Error: invalid_scope.
tks

[2015-08-12 03:50] dhermes commented on #256
Can you provide the code you ran to cause this error?

[2015-08-12 20:48] dhermes opened #257 "Fail builds if `tox -e docs` generates content that isn't checked in yet."
See #234 for an example of newly generated content

[2015-08-12 20:50] dhermes commented on #257
I previously mentioned this: https://github.com/google/oauth2client/issues/240#issuecomment-128783932

[2015-08-12 21:49] #240 closed

[2015-08-12 22:02] dhermes commented on #242
Things that could be added:

- Docstrings on `GOOGLE_*_URI` constants in `oauth2client/__init__.py`

[2015-08-13 13:40] #257 closed

[2015-08-13 14:10] dhermes opened #261 "Track down pypy test failures"
https://travis-ci.org/google/oauth2client/jobs/75439836
https://travis-ci.org/google/oauth2client/jobs/75439618
https://travis-ci.org/google/oauth2client/jobs/75349545

[code]

Relates to [release][1] of `cryptography==1.0`.

/cc @nathanielmanistaatgoogle

[1]: https://pypi.python.org/pypi/cryptography

[2015-08-13 14:13] dhermes commented on #261
As an aside, maybe @anthmgoogle or @craigcitro or someone else can explain why we have `py26openssl13` and `py27openssl13` tox [environments][1].

Or why `pyopenssl==0.14` is pinned in our test configuration when `pyOpenSSL==0.15.1` was released on April 14.

[1]: https://github.com/google/oauth2client/blob/3bd3fc5a903ebb73f38e473ec6decde85c270b87/tox.ini#L52-L62
[2]: https://github.com/google/oau

[2015-08-13 14:44] dhermes commented on #261
Pretty simple "fix" from pyca/cryptography#2275

[2015-08-13 14:46] dhermes commented on #261
Looking at http://docs.travis-ci.com/user/languages/python/#PyPy-Support it points to https://launchpad.net/~pypy/+archive/ubuntu/ppa which currently has `2.6.0+dfsg-1~ppa0+ubuntu14.04` as the version.

[2015-08-13 14:49] reaperhulk commented on #261
@dhermes the container infra uses pyenv and has pypy-2.5.1. You can see how we worked around it in the cryptography travis config here:

https://github.com/pyca/cryptography/blob/master/.travis/install.sh#L54 and
https://github.com/pyca/cryptography/blob/master/.travis/run.sh#L20

[2015-08-13 16:19] dhermes commented on #261
Thanks @reaperhulk!

For book-keeping purposes, these get [run][1] as:

[code]

[1]: https://github.com/pyca/cryptography/blob/5e885db2e77b054a6597c1ddea4e7905b8350040/.travis.yml#L116-L120

[2015-08-13 16:49] craigcitro commented on #261
we have the pyopenssl configs to match the versions available somewhere -- maybe GAE? (also possibly internal.) we dropped the 0.13 one to just have fewer tests to run.

unpinning the version should be ok -- i'd do `>=0.14`, i think.

[2015-08-13 18:01] dhermes commented on #261
I doubt it's GAE, I tried importing both `OpenSSL` and `cryptography` and had no luck. Neither show up in https://cloud.google.com/appengine/docs/python/tools/libraries27 either.

[2015-08-13 18:04] craigcitro commented on #261
oh -- i might be mixing up pycrypto and pyopenssl. in that case, maybe it's just the internal version we had at the time?

[2015-08-13 18:21] dhermes commented on #261
The `pyopenssl13` targets were added by @pferate in c16eba364d5602ab3e07eabd9ed5d95ec8546b7c

----

For posterity, here is my sleuthing:

[code]

[2015-08-13 19:55] pferate commented on #261
Looking at my comments in issue #25, it looks like there were some major changes in pyOpenSSL between 0.13 and 0.14 that caused tests to pass on 0.13 (from my dev environment at the time) but fail on 0.14 (released during my development).  I wanted to test using both versions of pyOpenSSL in all of the applicable versions of Python, so that's why I added them at the time.

[2015-08-13 20:06] dhermes commented on #261
@pferate I really appreciate the reply! You think it's safe to nuke those versions (#262)?

[2015-08-13 20:07] #228 closed

[2015-08-13 20:34] pferate commented on #261
@dhermes No problem.  It's been over a year since the update, so I would assume that it would be safe to drop the old version at this point.

[2015-08-13 20:39] dhermes commented on #261
Great thanks!

[2015-08-13 23:01] dhermes opened #266 "Rollback #264 after Travis-Ci upgrades the default version of pypy to 2.6"

[2015-08-13 23:03] #261 closed

[2015-08-14 01:40] dhermes commented on #137
@nathanielmanistaatgoogle WDYT about doing this?

[2015-08-14 01:41] dhermes commented on #110
:+1:

[2015-08-14 01:58] nathanielmanistaatgoogle commented on #137
I think very highly of it happening. You've made most of the changes in the recent past and would be in the best position to judge the right time to do it. I'm personally sweet on [pyformat](https://pypi.python.org/pypi/pyformat) and hope it is up to the task.

[2015-08-14 02:13] dhermes commented on #239
This was fixed in #152 but has never been merged because no tests

[2015-08-14 03:02] dhermes opened #268 "Upgrade mock to >=1.3.0"
Current version is [pinned][1] at `1.0.1`.

@jonparrott When I tried to upgrade it, the `assert_called()` method is no longer defined on a mock. It just so happens these are used exclusively in `test_flask_util.py`.

I tried to swap those calls out for `assert_called_with(...)` but quickly was in over my head. Care to take a look?

[1]: https://github.com/google/oauth2client/blob/597ccd788718d353f

[2015-08-14 17:05] #268 closed

[2015-08-14 17:39] dhermes opened #270 "test_appengine.py should get run on Travis"
[Current][1] approach is:

[code]

----

We could just make a custom `tox` environ for that test only and run

[code]

and then on Travis use the caching feature to make sure we don't grab the GAE SDK too often. Though I'd image enough other people on Travis grab the SDK that they have it cached locally anyway. (We're already pulling it down to build `docs`.)

[1]: https://github.com/google/oauth2

[2015-08-14 22:19] #255 closed

[2015-08-15 16:50] felagund commented on #192
Any news on this?

[2015-08-15 17:23] dhermes commented on #192
The issue is resolved. I'm unclear what you're asking for.

[2015-08-15 17:32] felagund commented on #192
Well, then I guess it should be reopened. You closed it but then we discovered that the issue was beacuse google was giving out files with  `\u003d` instead of `=` - we tried to contact google about it and I am not sure if it was resolved or not, but we never reopened the issue (see the discusion after June 9).

[2015-08-15 17:54] dhermes commented on #192
It's not an issue. The issue was the way you copied and pasted.

Check out https://gist.github.com/dhermes/2e4137ccf717b98cfe5e to see that the `\u003d` characters are loaded correctly.

[2015-08-15 18:14] felagund commented on #192
So Google claims that it is fine if `\u003d` is shown in the file instead of `=` when one opens the file in a text editor as per https://github.com/google/oauth2client/issues/192#issuecomment-110348735 ?

[2015-08-15 18:29] migurski commented on #192
[`\u003d` and `=`](http://www.fileformat.info/info/unicode/char/003D/index.htm) are equivalent in JSON, yes.

[2015-08-15 18:30] dhermes commented on #192
As @migurski says, they are equivalent. I don't know what Google claims, but the gist I linked to shows that it works just fine (as long as you don't copy-paste and get something different).

[2015-08-15 18:42] felagund commented on #192
Hm, but in the text file that I downloaded from Google, `\u003d`  is 6 characters, not one. You yourself, dhermes, claimed it is a problem in this comment: https://github.com/google/oauth2client/issues/192#issuecomment-114617984 and subsequently tried to contact google, but @anthmgoogle never responded. I am confused as what has changed?

Anyway, when I try to follow the gist you linked, I get:

[

[2015-08-15 18:50] dhermes commented on #192
Yes I did say that before, but I have since I actually tried to load the file and noticed that Python's JSON library handles it just fine. I still contend that Google should fix it, but am / was just saying it's something you can work around.

I didn't run it in Python 3 and the previous version of the gist failed (for different reasons in 3.3 and 3.4). Thanks for pointing it out! I have updated t

[2015-08-15 19:00] felagund commented on #192
Ok, now I understand. Of course this can be worked-around, we know that since at least https://github.com/google/oauth2client/issues/192#issuecomment-107700166 Indeed, it works now:-).

Anyway, I was asking about news on Google's side, if they know about it and if they are going to fix it. Since I tried to download a new key today, they have apparently not fixed it and are unresponsive so far:-/.

[2015-08-15 19:17] dhermes commented on #192
Hopefully someone will weigh in (I wrote the bug report for them)

[2015-08-15 22:40] jonparrott commented on #270
We recently did this for GoogleCloudPlatform/python-docs-samples. Our config files might be helpful: [.travis.yml](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/.travis.yml) and [tox.ini](https://github.com/GoogleCloudPlatform/python-docs-samples/blob/master/tox.init).

[2015-08-15 22:40] jonparrott commented on #270
Actually if you want to assign this to me I can do it.

[2015-08-17 20:36] #270 closed

[2015-08-18 14:23] jameserrico commented on #193
Guys I just wanted to thank you for this detailed information.  I had the same exact issue and tracking it down was a nightmare.  I probably would not have guessed the timedrift had it not been for this AWESOME information.

[2015-08-18 15:08] migurski commented on #193
:watch: :100:

[2015-08-18 15:34] dhermes commented on #193
Great to hear it :+1:

[2015-08-19 03:35] nathanielmanistaatgoogle commented on #192
@dhermes sorry for this not getting the attention it needs. Thank you for the bug report text but against what team/product/public API would you like that report filed?

[2015-08-19 04:04] dhermes commented on #192
File it with the auth people (or whoever else owns `https://accounts.google.com/o/oauth2/auth` and similar).

They are base64 padding with `\u003d` instead of `=`.

As mentioned, libraries can handle this, but it makes no sense since `=` (i.e. `0x3d == 61`) is an ascii char.

[2015-08-19 04:06] #239 closed

[2015-08-19 04:46] dhermes commented on #137
@nathanielmanistaatgoogle Looking at https://github.com/google/oauth2client/pulls I think now is as good a time as any to make this happen.

How do we want to usher it in?

Then I dream of moving on to #212 and then to #128.

[2015-08-19 05:02] nathanielmanistaatgoogle commented on #137
Run autopep8 and see how it looks? Run pyformat and see how it looks? Decide which one you like more? Decide which one you trust more? Have you any experience with either tool?

"Manually" is the last manner in which I would like to usher in such a change.

[2015-08-19 05:11] dhermes commented on #137
I've been down this road once before: GoogleCloudPlatform/gcloud-python#179

[2015-08-19 05:33] nathanielmanistaatgoogle commented on #192
Filed internally, finally, and sorry again for the wait.

[2015-08-19 05:46] dhermes commented on #192
Thanks a lot. There was also a pre-written bug to file about error messages in https://github.com/google/oauth2client/issues/193#issuecomment-114618536.

[2015-08-20 04:59] dhermes commented on #137
Here I go...

[2015-08-23 20:34] #137 closed

[2015-08-23 22:19] dhermes commented on #212
As of right now (59e59a676734dcbaeb62b78dda1d9409cfabfc99, after #276 merged), here is the output of `tox -e cover`

[code]

I haven't yet figured out how to build in `oauth2client/appengine.py` but will do so soon-ish.

[2015-08-23 22:24] dhermes opened #277 "Get flask_util to 100% code coverage"
See #212

[2015-08-24 16:09] jonparrott commented on #277
I think the only thing missing from coverage is the import check at the topic. Unsure on how to test that - any recommendations?

[2015-08-24 16:22] dhermes commented on #277
Looking at the output from #212:

[code]

The lines `180-181` are

[code]

which you could [mark][1] with `pragma: NO COVER`.

The rest are valid code paths that need to be traversed.

[1]: https://github.com/google/oauth2client/blob/b821f6ee88f472f8523525b049c42583d9182faa/.coveragerc#L5

[2015-08-24 16:24] jonparrott commented on #277
Gotcha. Will do.

On Mon, Aug 24, 2015 at 9:22 AM Danny Hermes <notifications@github.com>
wrote:

[2015-08-24 23:33] #277 closed

[2015-08-24 23:53] dhermes commented on #212
@jonparrott You previously mentioned that it was possible to collect coverage from multiple runs. I am looking to do this for `oauth2client.appengine`.

Care to help? Shall I file a bug and we take it up there / have a PR which closes that bug?

[2015-08-25 08:59] JacobOscarson commented on #76
Anyone seen any progress on this? As far as I can see, it seems to be an old version of `six` hanging around. Referred to from other at time of writing recent places, e.g. https://github.com/mkdocs/mkdocs/issues/576, http://stackoverflow.com/questions/27656510/issues-with-six-under-django, https://groups.google.com/forum/#!topic/mkdocs/6IXq0PWVt6I

[2015-08-25 15:58] dhermes commented on #76
@JacobOscarson If you're on a Mac it's because they ship with an old version of `six`.

Do something like

[code]

to determine the install locations.

If `six` is not in the same `dist-packages` or `site-packages` directory as `oauth2client`, you've found your issue.

See an old [StackOverflow post][1] for some details on this, but it's likely that the old `six` version is in:

[code]

and that p

[2015-08-25 16:10] jonparrott commented on #212
Yep, file a bug. I'll see what I can do.

[2015-08-25 16:12] jonparrott commented on #76
Alternatively, use [virtualenv](https://virtualenv.pypa.io/en/latest/) to isolate your program's dependencies from system packages.

[2015-08-25 16:14] dhermes commented on #76
:+1: I thought of that the moment I posted my answer

[2015-08-25 16:15] dhermes opened #286 "Incorporate `test_appengine.py` into coverage report"
See #212

[2015-08-25 16:52] jonparrott commented on #286
Why are we using nosexcover instead of normal coverage?

[2015-08-25 16:54] dhermes commented on #286
Not sure I know the difference `nosexcover` was added in 7dff2c14a0db6a909c8536b31208b3579d1eeb70 by @craigcitro and likely it was just copy-pasta from our `tox.ini` for `gcloud-python`.

@tseaver why do we use `nosexcover` instead of just `nosecover`?

[2015-08-25 17:10] jonparrott commented on #286
Might have been before coveralls had direct support for coverage's output.

[2015-08-25 19:39] dhermes commented on #286
@tseaver #287 is ready to go but we are holding off to hear from you if there is a reason we use `nosexcover` instead of just `nosecover`

[2015-08-25 21:45] tseaver commented on #286
`nosexcover` was likely copied in from projects which use Jenkins for CI:  it arranges to have a Cobertura-compatible `coverage.xml` generated, FBO the Jenkins coverage visualization.

[2015-08-25 21:57] dhermes commented on #286
SGTM. @jonparrott we are a go then

[2015-08-25 21:57] #286 closed

[2015-08-25 23:21] dhermes opened #289 "oauth2client.appengine module docs are not being built"
See: http://oauth2client.readthedocs.org/en/latest/source/oauth2client.appengine.html

![screen_shot_001](https://cloud.githubusercontent.com/assets/520669/9482087/17db6490-4b45-11e5-8a9a-6191180a19ed.png)

---

I have a [hack][1] in place to make this work, but it doesn't seem to be sufficient. (I swear it used to work :grinning: )

[1]: https://github.com/google/oauth2client/blob/f29c164b9196da8

[2015-08-25 23:23] dhermes commented on #289
Looking in a build: https://readthedocs.org/projects/oauth2client/builds/3273352/

The line

[code]

has an `ImportError`

[code]

[2015-08-26 12:02] JacobOscarson commented on #76
Thanks for the suggestions! I'll have a look at them. (@jonparrot I'm already inside a virtualenv, but the virtualenv -installed `six` seems to be confused by a system package when importing sub-packages e.g. packages under `six.moves`)

[2015-08-26 13:55] dhermes commented on #212
As per discussion with @nathanielmanistaatgoogle in #288, need to be sure to:

- Take a look at `test_jwt.py` and see if it should be split up (#211 may force this one)
- Add direct tests for `_openssl_crypt.py` rather than relying on `test_jwt.py` to indirectly test it (you may disagree with me on this)

[2015-08-28 19:34] richiverse opened #294 "broken encoding with python 3.4 (fix inside)"
context:
[code]

Changing line 1515 in oauth2client/client.py from this:
[code]
to this:
[code]
fixed my issue.

reference:
http://stackoverflow.com/questions/27160352/when-convert-to-base-64-typeerror-str-does-not-support-the-buffer-interface

[2015-08-29 00:39] dhermes commented on #294
Can you do a `pip3 show oauth2client` to determine what version you have?

If this hasn't already been resolved in a release, it probably will be in `1.5.0` (#292)

[2015-08-29 02:08] richiverse commented on #294
[code]

[2015-08-29 18:43] dhermes commented on #294
Thanks.

The latest version is 1.4.12: https://pypi.python.org/pypi/oauth2client/1.4.12

If you upgrade does the problem persist?

[2015-08-29 18:46] dhermes commented on #294
Found the line in the 1.4.11 release: https://github.com/google/oauth2client/blob/c61bdf4565782db82172b450284fb969150dd32b/oauth2client/client.py#L1515

[2015-08-29 18:50] dhermes commented on #294
Traced the line to the current head, still an "issue": https://github.com/google/oauth2client/blob/b66838e48da243a7fefa7275044f6b5833ec1476/oauth2client/client.py#L1632

@richiverse For now, use bytes, but your suggestion should make it into the codebase, so thanks!

Easiest way (if you're reading from a file) is opening in read binary (`'rb'`) mode.

[2015-08-31 20:06] dhermes commented on #128
@nathanielmanistaatgoogle I think as a first start, using a first-class `Http` object (owned by `oauth2client`) as the output of `Credentials.authorize`. Right now, the wrapped `http` object just gets [monkey patched][1] and has a tenuous relationship with the original `Http` object and the original `Credentials` object.

[1]: https://github.com/google/oauth2client/blob/6e3c0c58f5a3ba18dc69bce9c49

[2015-08-31 20:23] dhermes commented on #212
After doing #293 I wanted to make sure I hadn't reduced the coverage of `client.py`, so actually went through all the lines missing coverage

[code]

Many of them are abstract methods that are easy to test (i.e. `self.assertRaises(NotImplementedError, ...)`) and be on your merry way.

[2015-08-31 20:33] dhermes commented on #172
This is somewhat related to #128, "Determine what assumed interface of `httplib2.Http` is needed" requires finding every creation and use of an `httplib2.Http` object.

[2015-08-31 20:38] dhermes commented on #128
Here are all places an `httplib2.Http` object is created:

[code]

I also searched for `.Http` (to make sure `Http(` wasn't missing anything, e.g. aliasing a class name. It doesn't appear to be an issue (only real different results are in `tests/test_flask_util.py`). I also did `git grep 'httplib2' | grep import` to make sure that the standalone `Http` wasn't imported `as` some other name.

[2015-08-31 22:37] #114 closed

[2015-09-01 06:37] legendlee1314 commented on #172
Thanks for reply! :)

BTW, would you guys start to solve this issue by wrapping a configurable `httplib2.Http` object?

[2015-09-01 17:01] dhermes commented on #172
I'd like to implement a `transport` module and just have our own custom `Http` class (or have a set of our own `Http` classes) and then allow people to define extensions e.g. `oauth2client-requests` which allowed using a different transport.

[2015-09-01 17:57] dhermes commented on #251
(As of 5dda03224fbb408fbb3ac450733b997b525496c6)

----

Things defined in `util`:

- `positional`
- `scopes_to_string`
- `string_to_scopes`
- `dict_to_tuple_key`
- `_add_query_parameter`
- `POSITIONAL_WARNING` (not really relevant, but is in `__all__`)
- `POSITIONAL_EXCEPTION` (not really relevant, but is in `__all__`)
- `POSITIONAL_IGNORE` (not really relevant, but is in `__all__`)

Things define

[2015-09-01 18:56] dhermes opened #295 "Rework usage of exceptions"
See comments in https://github.com/google/oauth2client/pull/290 about `AppIdentityError`

[2015-09-02 03:02] legendlee1314 commented on #172
Got it. Looking forward to! :)

[2015-09-02 04:02] dhermes opened #296 "Logo is out-of-date / obsolete"
Due to http://googleblog.blogspot.com/2015/09/google-update.html the images are out-of-date:
https://github.com/google/oauth2client/blob/19abb4d0fb3a49602e23f654cde284fb5b9c3ec3/docs/_static/google_logo.png
https://github.com/google/oauth2client/blob/19abb4d0fb3a49602e23f654cde284fb5b9c3ec3/docs/_static/favicon.ico

[2015-09-03 19:21] dhermes opened #298 "Drop support for Python 2.6"
See https://github.com/GoogleCloudPlatform/gcloud-python/issues/995 and https://github.com/google/oauth2client/pull/297 for discussion

[2015-09-07 04:34] dbenn8 opened #299 "Removal of run() has broken the second example on google developers get_started page"
Hi all,

I am walking through the second example in the get_started tutorial for use of the API, and the sample code still uses the 'run(flow, storage)' command instead of the new run_flow() function.

Get started page (Installed Application is the second major walkthrough and contains the issue):
https://developers.google.com/api-client-library/python/start/get_started

Downloadable code example

[2015-09-07 06:21] dbenn8 commented on #299
Eventually found this which helps:
http://stackoverflow.com/questions/25422545/which-flag-for-run-flow-will-simulate-the-now-deprecated-run/27736269#27736269

Still, being new to all this I lost a few hours on it.

had to:

import argparse at the top of my file

and add code to the example:

    if credentials is None or credentials.invalid:
    	    # DB from line 147 /Users/DanielBennett/.virtua

[2015-09-07 16:50] dhermes commented on #299
Thanks for pointing this out! We decided to finally remove `tools.run()` (aka `old_run.run()`) in the [`v1.5.0` release][1] since it had been deprecated for 2 years.

@nathanielmanistaatgoogle I assume your team is in charge of the `google-api-client-library` docs?

[1]: https://github.com/google/oauth2client/releases/tag/v1.5.0

[2015-09-08 20:12] tseaver opened #302 "Importing top-level `webapp2` breaks encapsulation"
f3f8b4f7b1828ddf75706a0366ff92f8c3f87060 replaces an import of `webapp` from `google.appengine.ext` with a top-level import of `webapp2` (aliased as `webapp`).  The commit comment says:

This change [breaks](https://travis-ci.org/GoogleCloudPlatform/gcloud-python/builds/79351464) the [GAE import mocking done in `gcloud`](https://github.com/GoogleCloudPlatform/gcloud-python/blob/62fd8310259bc9761a6

[2015-09-08 20:37] dhermes commented on #302
@tseaver How do you mean it breaks encapsulation? The `oauth2client.appengine` module isn't imported in the package, so a user needs to explicitly say "import me some `appengine`, I'm on the `appengine`".

[2015-09-08 20:50] tseaver commented on #302
The gcloud tests covering the "appengine detection" machinery mock out the necessary `google.appengine` bits to allow `oauth2client.appengine` to import without breaking. f3f8b4f breaks that, switching to import `webapp` as an alias for an entirely new top-level `webapp2` package (newly-imported here, at least).

I don't know what the motivation for f3f8b4f was, but it caused the `gcloud` tests to

[2015-09-08 20:55] dhermes commented on #302
Motivation: `webapp2` replaced `webapp` in either 2011 or 2010, so the code was **very old**.

I realize it hurt our test mocks in a library elsewhere, but that isn't an issue with `oauth2client`.

I'm closing out, let me know if you think there is something left in `oauth2client` that needs to be resolved.

[2015-09-08 20:55] #302 closed

[2015-09-08 21:05] tseaver commented on #302
FTR, the commit was a fix for #217.  That change added an import dependency on `webapp2`, without also adding as an `install_requires` dependency in `setup.py`:  AFAICT, it should be there (@craigcitro patched it into `tox.ini` for the docs).  Perhaps it should be in an 'extras_require`, e.g.:

[code]

[2015-09-08 21:34] dhermes commented on #302
App Engine is a nasty beast. Users deploy code there and all of these dependencies are just there. (`webapp2` is luckily open source and available on PyPI)

[2015-09-11 01:48] jaggedsoft opened #303 "Improper variable assignment appears when using --noauth_local_webserver"
Latest pip installed version of oauth2client
This problem perplexed me for some time, but I managed to figure out what was causing it.
I was using the python example from https://developers.google.com/youtube/v3/docs/thumbnails/set
When I set the flag --noauth_local_webserver I would get the error `UnboundLocalError: local variable 'success' referenced before assignment`

The problem appears in oa

[2015-09-11 01:55] dhermes commented on #303
Thanks for tracking down! This was fixed in #301

@nathanielmanistaatgoogle Should we cut a new release?

[2015-09-11 14:37] nathanielmanistaatgoogle commented on #303
@dhermes: yes, absolutely.

[2015-09-11 17:10] nathanielmanistaatgoogle commented on #299
@dbenn8: thanks for the report!

One question: why not just change

`credentials = run(flow, storage)`

to

`credentials = tools.run_flow(flow, storage, tools.argparser.parse_args())`

?

[2015-09-14 20:24] dhermes commented on #299
@nathanielmanistaatgoogle https://developers.google.com/api-client-library/python/start/get_started should be updated ASAP. The `api-client-library/...` docs are directly tied to the `google-api-*-client` libraries, so in this case ISTM you guys have ownership of that doc.

[2015-09-14 20:28] dhermes commented on #303
I created #304, will address this.

[2015-09-14 20:28] #303 closed

[2015-09-14 23:03] nathanielmanistaatgoogle commented on #299
@dhermes I submitted a correction this morning but I'm not sure how often the docs are pushed. Probably within 24 hours but maybe 48?

[2015-09-15 00:48] dhermes commented on #299
Awesome! Maybe we'll have #304 pushed in 24-48 hours too and all will be good in the world.

[2015-09-15 00:48] #299 closed

[2015-09-16 09:54] oskar-j opened #307 "UnboundLocalError: local variable 'success' referenced before assignment"
Hi, I'm trying to run the example program from https://developers.google.com/youtube/v3/docs/comments/list#examples which downloads comments from youtube. My goal is to download all comments from a particular video on Youtube. I configured the `client_secrets.json` file, but when I run `python dataset2.py --noauth_local_webserver --videoid=pOrW6swvun0` I get an error

[code]

My code is on Gist: h

[2015-09-16 14:03] dhermes commented on #307
Thanks for filing! #301 fixed this and #304 will push a new release out to address it.

[2015-09-16 14:04] dhermes commented on #307
FYI @nathanielmanistaatgoogle we really need to get #304 out

[2015-09-16 14:04] #307 closed

[2015-09-21 17:30] #294 closed

[2015-09-21 18:29] thobrla opened #309 "OAuth2Credentials access token refresh failures swallow HTTP status"
Refresh token exceptions raised by [OAuth2Credentials._do_refresh_request](https://github.com/google/oauth2client/blob/621c8e3904da0964901440f048717e19c656bdd2/oauth2client/client.py#L888) include only the error message and not the HTTP response code that cause the error.

This is fine if the [http_request](https://github.com/google/oauth2client/blob/621c8e3904da0964901440f048717e19c656bdd2/oauth2

[2015-09-21 18:33] dhermes commented on #309
:+1:

@thobrla, I'm hoping at some point to use a `__call__`-able `AuthorizedHttp` class instead of monkey patching `httplib2.Http` instances. This way library devs (like you and I) can extend this class and handle special cases just like this issue refers to.

[2015-09-21 21:34] #309 closed

[2015-09-24 16:38] craigcitro commented on #298
@thobrla

[2015-09-24 16:50] thobrla commented on #298
gsutil still supports 2.6 and depends on this

[2015-09-24 18:00] nathanielmanistaatgoogle commented on #298
@thobrla: what's gsutil's timeline for dropping 2.6 support?

[2015-09-24 18:34] thobrla commented on #298
There's no timeline.  We still get regular requests and reports from users on 2.6.

[2015-09-24 18:44] nathanielmanistaatgoogle commented on #298
:-(

[2015-09-24 18:50] dhermes commented on #298
@thobrla I recommend reading http://www.curiousefficiency.org/posts/2015/04/stop-supporting-python26.html (Nick even weighs in on our thread over in `gcloud-python`)

[2015-09-25 16:32] szopu commented on #142
Hello Alejandro,

I had the same problem. I'm using Django 1.8 with Python 3.4 and the padding errors occured when I used the PostgreSQL backend (for some strange reason the padding errors didn't happen when SQLite backend was used).

I ended up with following solution, which seems to work for both PostgresSQL and SQLite backends:

[code]
Please keep in mind this is Python 3 only and wouldn't work

[2015-09-25 16:37] dhermes commented on #142
Where does the fix occur? What version of `oauth2client` are you using?

[2015-09-26 00:45] szopu commented on #142
@dhermes
* the fix (in comparison to the Quentin solution) contains additional type conversions (from `str` to `bytes`, when it is passed to `base64` functions, and one `bytes` to `str` conversion in `get_prep_value`. My guess is that Python 2 handles the `unicode`/`str` types in more liberal manner so the problem does not occur here.
* I'm using `oauth2client==1.5.1`.

[2015-09-28 18:22] dhermes commented on #142
@szopu Can you provide a diff with the current source or point to a fork that you're currently using?

[2015-09-28 21:19] sammcveety opened #315 "Client needs to retry on 502s when requesting refresh token"
This call is expected to be idempotent, and should be retried.

Stack trace ~~track~~:

[code]

Additional concerns:

Possible conditions include:
HTTP 5xx
HTTP 429
Connection break / socket timeout
Zero-length response from service
httplib errors (bad status line, incomplete read, response not ready)
DNS lookup failure

Possible retry approaches include:
Fail-fast (application prefers to fail as

[2015-09-29 13:07] vstoykov commented on #193
From 5 days I have the same problem until I found this issue and realized that the time of my server was wrong. Now I installed ntp to prevent future problems.

Definitely a better error message is needed!

[2015-09-29 17:05] dhermes commented on #193
Glad to see we've been able to help some people with our deep dive.

AFAIK @nathanielmanistaatgoogle has filed an internal bug to track this issue.

[2015-10-01 11:27] szopu commented on #142
@dhermes here is the diff (the autogenerated link above is to outdated commit):

https://github.com/google/oauth2client/compare/master...szopu:django-credentials-field-py3-fix

I refactored it to make it also Python 2 compatible, and also used `smart_text`, `smart_bytes` django util functions.

I can create PR if that's OK.

[2015-10-01 15:05] dhermes commented on #142
Please do. Note also that there are `_to_bytes` and `_from_bytes` helpers in `oauth2client._helpers` (rather than using the raw `unicode.encode()` and `str.decode()` methods)

[2015-10-02 05:43] polyzen commented on #299
Sorry if I have misunderstood, but this still seems to be an issue.
https://developers.google.com/api-client-library/python/samples/authorized_api_cmd_line_calendar.py

[2015-10-02 05:47] dhermes commented on #299
@polyzen Thanks for reporting. That example is out-of-date: the `run()` method has been deprecated (though `run_flow()` will do the same thing)

It looks like
https://developers.google.com/api-client-library/python/start/get_started
still refers to it and still refers to the `run()` function.

[2015-10-02 20:05] MilkyC opened #317 "tools.run_flow does not use OAuth2WebServerFlow redirect_uri property."
oauth2client.tools.run_flow requires that we pass it an oauth2client.client.OAuth2WebServerFlow object as the 'flow' parameter.  The OAuth2WebServerFlow object has a property 'redirect_uri' that I was assuming would be used by the run_flow function as a callback.  However, when I tried setting that property it was never honored. It looks like run_flow is just setting it to the auth_host:auth_port

[2015-10-06 15:52] #142 closed

[2015-10-06 15:52] #168 closed

[2015-10-06 15:52] dhermes commented on #168
Fixed in #316. Please re-open if this is still broken.

[2015-10-06 21:03] nathanielmanistaatgoogle commented on #299
Apologies for the delay - I was mistaken about how my change would propagate to the live site. Please confirm that the live documentation is now accurate and this issue is fully resolved?

[2015-10-06 21:13] dhermes commented on #299
LG on my end

[2015-10-08 21:04] nagyv commented on #142
I just run into this issue. When is the next release expected?

[2015-10-09 15:25] wsw70 commented on #106
The issue is still there -- not related to the `rb` mode, but to `crypto.load_pkcs12(key, password)` as mentioned by OP. The code to reproduce:

    import oauth2client.client
    import httplib2
    import platform
    import apiclient

    print(platform.python_version())
    print((oauth2client.__version__, httplib2.__version__, apiclient.__version__))

    with open('galarmclock.p12', 'rb') as

[2015-10-09 16:09] dhermes commented on #106
@wsw70 I just ran your code on my machine with freshly installed versions of all the libraries in Python 3.4 and it works just fine.

Can you try

[code]

[2015-10-09 17:00] sammcveety commented on #315
Expected behavior is that if _do_refresh_request gets a 502 from oauth2client/client.py, the containing new_request call from oauth2client/client.py will retry some reasonable number of times.

[2015-10-09 17:16] jonparrott commented on #223
@waprin is working on this.

[2015-10-09 17:55] jonparrott opened #319 "[FR] Useful storage for web applications."
Currently, we have the following storage classes:

* ``appengine.StorageByKeyName``, which is of course particular to GAE and Datastore.
* ``django_orm.Storage``, which appears to be a port of ``StorageByKeyName`` to Django's ORM.
* ``flask_util.FlaskSessionStorage``.
* ``file.Storage``, ``keyring_storage.Storage``, and ``multistore_file.Storage`` which are not useful in a web application context.

[2015-10-09 19:39] wsw70 commented on #106
That was it. `OpenSSL` was 0.15 on Windows and 0.13 on Linux. Upgrading it to 0.15 fixed the issue. Thanks a lot.

[2015-10-09 23:45] dhermes commented on #106
Good deal! Thanks for taking the time to file!

[2015-10-09 23:48] dhermes commented on #142
It's up to @nathanielmanistaatgoogle

Here is our most recent release schedule:

[code]

----

@craigcitro Our last two releases have been automatic via Travis.

1. Is it important to have a `.egg` and `.zip` release file?
1. What were you doing to generate and upload them?

[2015-10-09 23:52] craigcitro commented on #142
@dhermes
* I think `.egg` is outdated as long as you've got wheels.
* I always did the `.zip` because at some point, that made installing on Windows easier. If that's no longer true (maybe subsumed by wheel?), then no worries; my trusty `python setup.py sdist --formats=gztar,zip bdist_wheel` always pushed the `zip`.

[2015-10-09 23:52] dhermes commented on #319
ISTM we may need to start thinking about a story for `oauth2client` "plugins" and maybe put them elsewhere? (e.g. https://github.com/maraujop/requests-oauth)

----

A crucial chunk of all the `Storage` classes is atomicity. They all have `locked_VERB()` methods and implement them in there relevant domain.

----

Also, earlier this week I was looking at the `django_orm.Storage` implementation and i

[2015-10-09 23:53] dhermes commented on #142
Gotcher. I'll leave it alone for now, but will update if people request other formats.

Thanks!

[2015-10-09 23:53] dhermes commented on #223
Thanks!

[2015-10-09 23:59] waprin opened #320 "flask_util: Custom Scopes Causes Redirect Loops"
I am experiencing redirect loops when passing additional scopes to the decorator that is not part of the `DEFAULT_SCOPES`. You can see a sample that reproduces it below.

I think this is because the flow is recreated in the callback but with just the default scopes, which causes the credentials saved to not have the additional scopes, which means the decorator's predicate is never satisfied.

@jon

[2015-10-10 00:05] dhermes commented on #320
Sad face. @jonparrott This "justifies" our discussion about the naming of the additional scopes.

[2015-10-10 00:18] waprin commented on #320
I think this can be fixed pretty easily just by adding scopes to the state object passed, then pulling it back out in the callback.

[2015-10-10 00:25] nathanielmanistaatgoogle commented on #142
@nagyv: to the extent that "it is up to [me]", we release when we are told it would be helpful to release, and/or when we feel like it. I take it that it would be helpful to you for a release to be made? I therefore decree: release!

[2015-10-10 12:42] MeLight opened #321 "Samples for App Engine don't work"
Sets dependencies hell loose. First I needed six, and then:
[code]
There's no `anyjson` in the folder of `oauth2client` I've cloned. Please advise.

[2015-10-10 15:32] nathanielmanistaatgoogle commented on #321
Thank you for the report, and sorry for the trouble. In what file are you seeing the line `from oauth2client.anyjson import simplejson`?

[2015-10-10 15:40] MeLight commented on #321
My bad, it was occurring because of googleapiclient import. So apologies, and I'm closing this,

[2015-10-10 15:40] #321 closed

[2015-10-10 15:45] nathanielmanistaatgoogle commented on #321
Okay, but I also happen to be a maintainer of https://github.com/google/google-api-python-client so if there's a problem there I'm still keen to know about it.

[2015-10-12 16:48] jonparrott commented on #320
Arg. I'll look into this. My worry is that adding a bunch of additional scopes and passing them via the `state` parameter will cause some browsers to choke at the super long URI. Storing it in the session is also iffy because a user could technically start two separate oauth2 flows on the same site.

[2015-10-12 16:48] jonparrott commented on #320
@dhermes you should be able to assign this to me.

[2015-10-12 16:50] waprin commented on #320
There is another bug related to this one that's only uncovered once this one is fixed. Specifically, there is a line in the decorator:

    if scopes and not self.credentials.has_scopes(scopes):

That checks if we need incremental auth. But once the above bug is fixed, what happens is someone can auth with a specified scope (say, Google Drive), then they only have scope for Drive, but then they us

[2015-10-12 16:54] jonparrott commented on #319
I'm for this, but I still think we should implement a `DictionaryStorage` and `KeyValueStorage` here.

Noted. This is useful in situations where multiple users can cause contention on the storage resource, such as storing multiple credentials in a single file. If I'm understanding correctly, the two most common cases do not need explicit locking. Session storage is already thread-local in most* we

[2015-10-12 16:57] jonparrott commented on #320
Noted, though, though that situation should only arise when the developer changes the base scopes and the user has credentials that were created before the change. Good edge case those, and easy fix.

[2015-10-12 18:17] dhermes commented on #319
AFAICT it conflates the field name on the model class with the key name in the DB for the credentials object.

[2015-10-12 20:48] dhermes opened #323 "Avoid use of pickle"
See https://github.com/google/oauth2client/pull/322/files#r41799308

Will require making `Flow` objects serializable / de-serializable in some other way (e.g. JSON).

[2015-10-13 17:43] jonparrott commented on #319
Alrighty, so what sort of plan would be acceptable to you at this point? We can take it in small, incremental pieces, starting with:

*  A PR for `DictionaryStorage`, with optional locking, and updating `flask_util` to use that instead of its own storage.
* A PR for `KeyValueStorage`.
* A PR to perform the noted changes to `appengine`.

We can hold off on the other stuff (`CloudDatastoreStorage`,

[2015-10-14 00:09] dhermes commented on #319
I like letting `requests` / `urllib3` be our guide.

This plan SGTM

[2015-10-14 00:12] dhermes commented on #142
I'm super busy until about next Friday (October 23). Someone else can do the release / release notes if it's desired before then.

[2015-10-14 16:06] nathanielmanistaatgoogle commented on #315
I'm open to this - how would you suggest the options (fail-fast boolean, N, K, and anything else) be passed from customer code to oauth2client code?

[2015-10-14 17:00] jonparrott opened #326 "Create oauth2client.contrib package for non-core modules."
Similar to urllib3's contrib [[1](https://github.com/shazow/urllib3/tree/master/urllib3/contrib)] [[2](http://urllib3.readthedocs.org/en/latest/contrib.html)], we will move ``appengine``, ``flask_util``, ``django_orm``, and in incoming ``django_util`` into ``oauth2client.contrib``. This cleanly separates these framework/environment-specific modules away from the core library, and will make it easi

[2015-10-14 17:13] jonparrott commented on #326
/cc @waprin

[2015-10-14 17:33] nathanielmanistaatgoogle commented on #326
If we have import aliases let's keep them no later than a 1.6.0 or later release.

[2015-10-14 17:45] jonparrott commented on #326
SGTM, we can also put a deprecation warning in there.

[2015-10-14 18:41] dhermes commented on #315
FYI Something (sort of) already exists for a list of status codes to refresh on:

https://github.com/google/oauth2client/blob/237e5d139484c65c2b23a8b5d69056d56ab74b3a/oauth2client/client.py#L76-L77

@nathanielmanistaatgoogle will love that 401 is hard-coded rather than referenced by name as `httplib.UNAUTHORIZED`.

[2015-10-14 18:47] dhermes commented on #326
@jonparrott FWIW I had in mind something like a well-defined surface for packages to interact with and just endorse / list other plugins as PyPI packages (not as native part of `oauth2client` source code)

[2015-10-14 18:48] jonparrott commented on #326
Not sure I follow, but imo this is a good starting point if we do want to spin these off separately.

[2015-10-14 19:21] nathanielmanistaatgoogle commented on #315
@dhermes: mutable module-scope state? Oh just shove the knife in deeper.

[2015-10-14 20:00] dhermes commented on #315
Lulz

[2015-10-14 20:05] dhermes commented on #326
@jonparrott Sorry, code is easier than words sometimes:

[code]

then

[code]

----

Could "allow" `oauth2client` to be a namespace package, but I think that would muddle the lines between endorsed plugins and ones we've never heard of. I.E. if `oauth2client` was a namespace package then someone could have

[code]

[2015-10-14 20:07] jonparrott commented on #326
I see, okay, we want the same thing, I'm just doing baby steps.

First step is:

[code]

[code]

Second step, if we want:

[code]

[code]

---

``oauth2client.contrib`` would be the namespace package, not ``oauth2client``.

[2015-10-14 21:47] dhermes commented on #326
That seems more reasonable in terms of `oauth2client` endorsement of something's validity. Not sure if it's possible to make a sub-package (`oauth2client.contrib`) be a namespace package unless the parent (`oauth2client`) is.

We shall see.

[2015-10-14 22:00] jonparrott commented on #326
If we can't, we can steal a page from flask's playbook and use a [redirect package](http://flask.pocoo.org/docs/0.10/extensiondev/#extension-import-transition).

[2015-10-16 23:44] anthmgoogle commented on #192
Sorry I did not notice the ping to me on this issue earlier.

I just tested the downloaded files from the Google Developer's console, and I'm not reproducing the indicated problem with \u003d instead of "=". I've also not seen this in other languages. Is it possible that there is conversion when the JSON is loaded up in Python?

Note that the usage scenario above is with the SignJwtAccessCredentia

[2015-10-17 00:00] anthmgoogle commented on #192
Update. I was able to reproduce this from the console. I'll poke on the internal version.

[2015-10-17 08:44] yushkovskiy opened #327 "Why new credentials records are created instead of overwriting an existing one when user does not actually have to re-authorize?"
I talking about this line
[https://github.com/google/oauth2client/blob/master/oauth2client/client.py#L891](https://github.com/google/oauth2client/blob/00c7773f3109d3bf9bb0438c9a007d970ece5456/oauth2client/client.py#L891)
Maybe it is better to do `self.store.locked_put(self, overwrite=True)`

[2015-10-18 22:58] dhermes commented on #192
@anthmgoogle There is no issue with the library. The JSON parser is able to properly convert the chracters to `=`.

The only remaining issue was that it shouldn't be occurring. (IIRC the real issue here was a copy-paste that accidentally changed an encoding.)

[2015-10-19 21:58] sammcveety commented on #315
Kwargs with sane defaults?

[2015-10-20 12:58] petrcermak opened #331 "Please add per-file licenses"
_(Extension of #231 and #232)_

The Chromium project (www.chromium.org) pulls in oauth2client indirectly through the catapult (https://github.com/catapult-project/catapult/) and gsutil (https://github.com/GoogleCloudPlatform/gsutil) source repositories. In order for Chromium to be pulled into various Linux source distributions there's a requirement that all of the third party files pass the Linux

[2015-10-20 14:18] nathanielmanistaatgoogle commented on #331
This smells reasonable but I'm reticent to add accept a requirement for this library that is fundamentally *textual* rather than *behavioral* and that would be difficult or weird to integrate into our test suite.

For `oauth2client/__init__.py`: why is `licensecheck` failing on that file? It sure looks like it has a license header comment the same as any other file.

For all other files: why are t

[2015-10-20 16:24] nathanielmanistaatgoogle commented on #317
I doubt that it's by design.

Flesh out this report a little more? Is the current behavior of the library wrong, or just not as helpful as it otherwise could be?

[2015-10-21 17:43] petrcermak commented on #331
Sorry for the confusion. Only files with "UNKNOWN" licenses cause issues in Chromium.

I don't have a good answer for this. In general, Chromium (and its dependencies) tends to pull in whole repositories. I suppose this is to prevent Chromium from depending on the internal folder structure of the repositories.

[2015-10-21 18:27] nathanielmanistaatgoogle commented on #331
I'm still confused about `oauth2client/__init__.py`. Is it possible that you're running `licensecheck` against a version of the code prior to 709a106ccff3dd174e69908929db9aeffe8968 (4 August 2015)?

As for pulling in whole repositories: doesn't Chromium have to depend on internal folder structure of third-party codebases in order to accomplish anything useful with them after having pulled them in?

[2015-10-21 18:42] petrcermak commented on #331
You're right, the oauth2client pulled in by gsutil in catapult is version 1.4.11: https://code.google.com/p/chromium/codesearch#chromium/src/third_party/catapult/third_party/gsutil/third_party/oauth2client/oauth2client/__init__.py

As for pulling in whole repositories: That was only my personal interpretation (which might of course be wrong). I meant that Chromium _only_ has to depend on the _publ

[2015-10-21 20:24] nathanielmanistaatgoogle commented on #331
`src/third_party/catapult/third_party/gsutil/third_party/oauthclient`? What the fish is the story with that?

[2015-10-22 00:03] #320 closed

[2015-10-28 12:21] pmellier opened #333 "Support of cryptography lib"
Hi,
Have you targeted to support other python cryptography libs like https://cryptography.io or http://nacl.cr.yp.to/ ? as suggested in https://github.com/dlitz/pycrypto/issues/158.
Best regards,
Pierre

[2015-10-29 16:19] filbranden commented on #62
+1. This is a terrible API.

In particular, looking inside the code behind `gcloud auth login`, it needs to convert the OAuth2Credentials into a GoogleCredentials and does it with:

[code]

Inheritance is clearly all wrong here... For more details, check [this talk](https://www.youtube.com/watch?v=3MNVP9-hglc) (from some fellow Googlers) about how problems created by inheritance.

Also, staticmeth

[2015-10-29 16:33] dhermes commented on #62
FWIW the `staticmethod`s were part of an effort to slowly fix up a pre-existing code stew. The effort stalled in its tracks but someone else is free to take it up. I agree with all your points and wonder why the original authors didn't put the Application Default Credentials stuff in its own module.

[2015-11-04 01:24] royalharsh commented on #296
Can I work on this one ? Just as a starting point :smile:

[2015-11-04 15:14] royalharsh commented on #296
https://github.com/google/oauth2client/pull/334

[2015-11-05 20:10] dhermes commented on #296
Nice idea @royalharsh!

[2015-11-05 20:42] royalharsh commented on #296
:smile:

[2015-11-10 00:02] thobrla opened #335 "multistore_file raises errno.EDEADLK when trying to open credential store"
multistore_file claims to be process and thread safe, but if multiple threads try to refresh credentials simultaneously, it can result in an exception like the stack trace at the bottom of this issue.

multistore_file catches errno.ENOSYS and errno.ENOLCK already.  The simple fix would be to add EDEADLK to this list, since multiple threads opening the file can definitely result in this error.  Add

[2015-11-10 13:43] nathanielmanistaatgoogle commented on #335
Thanks for the report, we would definitely be receptive to an implementation of your suggested fixes, and today I learned that Python's `multiprocessing` module contains a `Lock` class. :-)

[2015-11-10 18:31] thobrla commented on #335
The file-locking notion is still useful for dealing with multiple applications executing simultaneously.

Using a multiprocessing lock is feasible, though it would probably need to come from the calling application.  A thread lock would be easy, though.  This pattern worked well elsewhere in gsutil:

multistore_lock = threading.CreateLock()

def UseProcessSafeLock(multiprocessing_lock):
  global m

[2015-11-11 09:55] aneximandros commented on #193
Thank you so much, super helpful. I couldn't have traced this error without your help. I turned off 'set date and time automatically" a long time ago and totally forgot about it. After turning it back on, the error disappeared. This was on the latest macbook pro.

[2015-11-11 18:42] migurski commented on #193
Good to know, @aneximandros!

[2015-11-13 13:38] pprmint opened #338 "storage class does not throw exceptions or errors when creds file is missing"
Calling `storage = Storage('a_credentials_file')` does not give any errors or warnings when the file passed does not exist. This should be helpful in debugging.

[2015-11-15 17:15] dhermes opened #339 "tox config is broken"
Failures noticed in #336 and #337.

From http://tox.readthedocs.org/en/latest/changelog.html it looks like the 2.2.1 release notes explain the failure

Seems https://bitbucket.org/hpk42/tox/pull-requests/169/tries-to-fix-99/diff is the PR that fixed something but broke us

[2015-11-15 18:33] dhermes commented on #339
I should add that the offending line is

https://github.com/google/oauth2client/blob/311a53fbcae550526a74057f27cb9df73a0af009/tox.ini#L86-L87

and the issue is a circular reference between `setenv` and the use of `env:KEY:DEFAULT`.

[2015-11-17 22:30] dhermes commented on #339
@jonparrott Any idea on how to fix this? (I did the "cowardly" thing and downgraded `tox` temporarily.)

[2015-11-18 01:43] #335 closed

[2015-11-19 20:45] FlorinAndrei opened #342 "not clear for how long is a token valid if not refreshed"
I've a Python script that edits a Google Docs spreadsheet using the gspread module. The script runs once every day.

The Oauth token is stored locally in a file. Every time the script runs, the JSON file with the Oauth token is refreshed. Here's a relevant code snippet:

[code]

But if I look at the Oauth token, the time stamps and durations are clearly in the past:

[code]

The token_expiry is in

[2015-11-19 20:48] dhermes commented on #342
You have an access token and a refresh token. The expiry is for the access token. However, your refresh token allows you to get a brand new access token and this library does that behind the scenes every time you get a 401 response (meaning your access token is no longer valid).

Your refresh token never expires. So putting it in a vault for a couple months won't have any effect.

If you want to k

[2015-11-19 20:48] #342 closed

[2015-11-19 20:56] FlorinAndrei commented on #342
Awesome, thank you @dhermes , this is very helpful.

[2015-11-19 20:57] dhermes commented on #342
Sure thing! Many people have spent lots of time trying to figure out OAuth 2.0. We hope this library makes it so that for most, OAuth 2.0 "just works".

[2015-11-20 17:48] dhermes commented on #339
I accidentally stumbled on something which I think/hope will solve this:
https://github.com/GoogleCloudPlatform/gcloud-python/pull/1237

[2015-11-20 17:52] jonparrott commented on #339
All I've got is to just wait. We ended up pinning tox in [python-docs-samples](https://github.com/GoogleCloudPlatform/python-docs-samples/pull/141) as well.

Consider tox isn't a *direct* dependency of library, pinning it for a while doesn't seem too offensive.

[2015-11-20 17:56] dhermes commented on #339
I don't think waiting will work. I think we are permanently broken. I tried making the change suggested by my other PR and get a circular dependency sort of error:

[code]

It seems like it is getting a self-reference and it will "always" be impossible for `setenv` and `env` to coexist.

[2015-11-20 17:58] jonparrott commented on #339
@waprin who's more involved in the testing side than me.

[2015-11-20 17:58] dhermes commented on #339
@jonparrott By forcing me to articulate that

I realized we could just ditch `setenv` in `testenv:gae`. w00t!

[2015-11-20 17:59] dhermes commented on #339
Haha JK:

[code]

[2015-11-20 18:02] waprin commented on #339
It's a bug a lot of people are experiencing, people already have PRs to fix it, they are just in the process of getting vetted/merged:

https://bitbucket.org/hpk42/tox/issues/285/tox-220-breaks-some-toxini-config-files

[2015-11-20 18:03] dhermes commented on #339
w00t. Thanks @waprin

[2015-11-24 04:34] dobesv opened #343 "Can't call SignedJwtAssertionCredentials.apply() without refresh()"
Currently if you authenticate an `Http` instance using `SignedJwtAssertionCredentials.authorize` it replaces the `request` method on the `http` instance with an implementation that adds the appropriate authorization header.  In that replacement, if there is no `access_token` set already, it uses `_refresh` to get one.  However, if you try to use `apply` to update headers without this `access_token

[2015-11-24 04:35] dobesv commented on #343
Steps to reproduce (using google-api-client):

[code]

Yields

[code]

[2015-11-24 07:24] dhermes commented on #289
This isn't true anymore. It fixed itself!

[2015-11-24 07:24] #289 closed

[2015-11-24 17:22] nathanielmanistaatgoogle commented on #192
I've gotten word internally at Google that the root cause of this has been remedied - is that what everyone's observing externally? And workarounds are no longer required?

[2015-11-24 17:24] dhermes commented on #192
Thanks!

[2015-11-24 18:45] nathanielmanistaatgoogle commented on #296
Thanks for the contribution!

[2015-11-24 18:45] #296 closed

[2015-11-24 22:16] nabilahmad commented on #193
Thanks a ton guys! I was having the exact same issue, under win2k8r2

[2015-11-30 18:35] miedzinski opened #345 "SQLAlchemy Storage"
https://github.com/google/oauth2client/issues/319

I've started working on SQLAlchemy Storage class, based on AppEngine and Django ones. There is already functional class, without unit tests. I am not sure whether more docs than docstrings are needed.

Here is the fork:
https://github.com/miedzinski/oauth2client/tree/sqlalchemy-storage

[2015-11-30 18:41] jonparrott commented on #345
We have two efforts in place to make this easier:

1. #326 to add `oauth2client.contrib` as a place to keep these items.
2. #319 to add a few storage classes for web applications.

I'm waiting on #344 to be reviewed and merged before creating the contrib package.

[2015-11-30 18:48] miedzinski commented on #345
Sure, I don't see moving existing class to another file a problem. When I'll be ready to submit PR (a.k.a. write tests), I'll check if `contrib` package exists - and then move class to this file.
Just wanted to tell people that I'm already working on this class, because it's needed in my application.

[2015-11-30 18:50] jonparrott commented on #345
No worries. I think it's very useful, especially if you/we can get it to work in conjunction with `flask_util`.

[2015-11-30 19:01] miedzinski commented on #345
Well, my application uses Flask as well, but `flask_util` needs changes in order to support storage like this (or Django ORM). There should be a way to pass arguments to Storage constructor.
Anyway, I'm open to ideas regarding design of current `oauth2client.sqlalchemy.storage` design. Currently the user passes a session to it and has to flush/commit manually (assuming engine's auto-commit/flush i

[2015-12-01 17:41] seanttierney opened #348 "clientsecrets._loadfile hides native OSError"
Native error messages are masked by the InvalidClientSecrets error. _loadfile naively assumes all OSErrors are the result of missing file. Permission issues present as missing file issues and can be rather frustrating to diagnose.

[2015-12-01 17:44] dhermes commented on #348
Thanks @seanttierney!

[2015-12-01 17:44] dhermes commented on #348
Can you provide a stacktrace?

[2015-12-01 18:24] dhermes commented on #348
It seems the issue comes from [a file `open`][1]:

[code]

It's also unclear to me why `"%s"` was used instead of `%r`.

[1]: https://github.com/google/oauth2client/blob/4cf98dc4c4988b9a30d236802f1ae4289f1e631f/oauth2client/clientsecrets.py#L120-L125

[2015-12-01 18:24] seanttierney commented on #348
I found the error as part of log data my for my service stack, so the following is not a clean interpreter trace. So I'll need to extract out a workable example. My services run as non-root. The client secrets file didn't have read permission for the given users.
[code]
from the terminal
[code]

I can get you a better stack from python terminal if you need, but it will be awhile.
[code]

[2015-12-01 18:26] dhermes commented on #348
No worries, I just wanted the stack-trace to pinpoint where the error happened.

I'm actually surprised `IOError` catches the errors from `open()`. I thought it was an `OSError` and

[code]

[2015-12-02 00:21] dhermes commented on #348
[code]

[2015-12-02 04:40] seanttierney commented on #348
Nice! You beat me to it.

[2015-12-04 00:07] #326 closed

[2015-12-04 00:35] #348 closed

[2015-12-04 20:36] jonparrott opened #352 "Move modules into contrib"
The following modules should be moved into contrib:

* `django_orm`
* `flask_util`
* `keyring_storage`
* `locked_file`
* `multistore_file`
* `appengine`

@nathanielmanistaatgoogle @dhermes I'll be sending a PR shortly for this, but I wanted to make sure you two were comfortable with the list.

[2015-12-04 20:38] dhermes commented on #352
SGTM :+1:

[2015-12-04 20:39] dhermes commented on #352
I'm not so sure about the name `contrib`. What are some other choices? `third_party`? `optional`? `ext`? `extensions`?

[2015-12-04 20:46] jonparrott commented on #352
I'd be fine with `ext`, but I actually like the idea of "contrib" as a concept. The concept of a community-driven but project-sponsored set of modules is something I think could be very valuable. So long as we don't lose that, I'm fine with whatever we call it.

[2015-12-04 20:50] nathanielmanistaatgoogle commented on #352
I like `contrib` well enough. `third_party` is inappropriate as that name implies that the code is homed somewhere else and merely replicated in our repository.

Plan sounds good to me too.

[2015-12-04 22:14] jonparrott opened #354 "Move contrib to its own repository"
Once non-core modules have been moved to `contrib`, it should be moved to its own repository, `oauth2client-contrib`.

This would require these changes, in this order:
* A new github repository, `google/oauth2client-contrib` will need to be created.
* `oauth2client-contrib` will be published on pypi as `oauth2client-contrib` and will depend on `oauth2client>=2.0.0`.
* `oauth2client` will need to a

[2015-12-04 22:22] dhermes commented on #354
:+1:  (e.g. https://pythonhosted.org/Flask-OAuth/)

[2015-12-04 22:23] jonparrott commented on #354
@nathanielmanistaatgoogle let us know your thoughts.

[2015-12-05 00:03] dhermes commented on #212
@waprin I just updated the list after #332 got in and noticed `oauth2client.contrib.django_util.apps` slipped in.

IIRC we discussed during that PR that you might knock off coverage for `django_orm` as well.

Still down to help got to 100% coverage?

[2015-12-05 00:11] waprin commented on #212
Yes sure. I thinks the apps.py can be tested since we're no longer running Django tests for 2.6 I will either cover django_orm or just rewrite as my next task.

[2015-12-05 00:12] dhermes commented on #212
:+1: on the rewrite

[2015-12-05 00:13] dhermes commented on #212
Might want to work upstream from #353 to avoid merge headaches

[2015-12-05 00:50] dhermes opened #357 "Banish all uses of `time.sleep` in unit tests and mock out uses of sleep in tested code"
Call me crazy, but this is a no-brainer right?

[code]

-----

Also on this list should be any method that relies on the network being turned on. I used `nose.tools.timed(limit)` in #85 to try to find slow test cases, we should find them again and snuff them out.

[2015-12-07 18:07] nathanielmanistaatgoogle commented on #354
"it should be moved to its own repository" caught me off-guard. Why? This issue talks about how to go about separating the code but doesn't describe the benefit of doing so. What need is a `contrib` directory in this repository unable to fulfill?

[2015-12-08 01:55] dhermes commented on #354
It isn't a core part of the implementation. It is an add-on and the release cycles don't need to be tied together.

[2015-12-08 18:55] jonparrott opened #358 "Remove multistore file backwards-compatibility tests"
See #355 for discussion.

[2015-12-08 19:37] rothnic opened #359 "Drive.json file creation failure when /Users/<username>/.oauth does not exist"
Using v1.5.2 with gspread and df2gspread python libraries. I setup the client secrets file as requested, get the permissions screen, then the web client says successful. However, back on the python side it tries to create a drive.json file, but the .oauth folder does not exist. This results in the auth process failing.

I created the .oauth directory, then tried again, and it worked fine. Failure

[2015-12-09 16:40] Copper-Head commented on #16
I have also run into this issue. Have there been any developments on this?

[2015-12-09 21:01] nathanielmanistaatgoogle commented on #354
I guess, sure, but... it still seems like an awful lot of fuss. Are there situations today in which someone would want to use the core part of `oauth2client` but can't because the presence of `contrib` introduces some encumberance? Does `contrib` drag in a lot of heavy dependencies, or particularly problematic dependencies?

I'm not saying that separating out `contrib` is the *wrong* thing to do;

[2015-12-10 06:03] dhermes commented on #354
- The Flask users don't have a strong and pressing need for Django helpers
- The Django users don't have a strong and pressing need for App Engine helpers
- The App Engine users don't have a strong and pressing need for file system helpers

and so on.

The main reason this came up is that @jonparrott and I were discussing de-coupling the release cycles of the core library and the extensions (which

[2015-12-10 17:44] nathanielmanistaatgoogle commented on #354
I'm feeling more and more like this isn't worth doing, but I promise I won't stop you from doing it.

There are lots of modules in the Python standard library for which I don't have a strong and pressing need, but there's installed on my system along with the rest of Python because their presence isn't a significant burden on me and the library is less work for the maintainers if everything is in

[2015-12-11 03:14] jonparrott commented on #354
More frequently.

No.

Contrib is all optional dependencies, so no here as well.

There are two real motivating factors here, and I can totally be talked out of this:

1. Splitting core from contrib makes a bit of sense. For example, libraries such as gcloud-python should need only depend only on the core, considering we're recommending the use of GoogleCredentials exclusively in that use case.
2.

[2015-12-11 22:39] kcarnold opened #361 "Crash in locked_file:_Win32Opener:open_and_lock (Windows 10, Python 3.5)"
The line
[code]
caused a "python.exe has stopped working" error in one of our Python environments (Anaconda 2.4.1). I traced the error to [https://github.com/google/oauth2client/blob/master/oauth2client/locked_file.py#L290][1] -- `win32file._get_osfhandle` crashed without providing any useful debugging information.

This happened in a client user's environment, so I didn't get a chance to debug pa

[2015-12-11 23:32] dhermes commented on #361
Thanks a lot!

[2015-12-14 05:48] #352 closed

[2015-12-14 06:04] dhermes commented on #354
:+1:

[2015-12-14 22:03] nathanielmanistaatgoogle commented on #354
I remain reluctantly okay with this; feel free to now proceed with carrying this out.

[2015-12-15 17:40] jonparrott commented on #354
I won't be able to get to this until January, so we can all think on it for a while. :)

[2015-12-15 17:48] dhermes commented on #354
SGTM

[2015-12-17 20:19] kaliberto opened #365 "Clearer error messaging when token.uri.info is missing and retrieve_scopes() is called"
When attempting to refresh the list of scopes available via credentials.retrieve_scopes() you receive the error AttributeError("'NoneType' object has no attribute 'find'",) if token.uri.info is not set on the credentials instance. It's not a very friendly error and it's unclear until you read the code that this value is not set when credentials are generated using flow_from_clientsecrets. When gen

[2015-12-17 23:36] vivekseth opened #366 "Weird wording in readme"
The read me currently has the following text:  "To install, simply say"  (line 10)

Its a small thing, but i think it would be more appropriate to use something like; "To install, simply run the following command in your terminal"

[2015-12-19 10:04] rkhwaja commented on #361
There's more information on this problem at https://github.com/google/google-api-python-client/issues/139

It's not fixed in by python 3.5.1. It's only a problem on windows 10. I _think_ that it's only a problem with 64-bit python, although I haven't verified that.

I found that it's crashing in the following call in oauth2client\locked_file.py in the open_and_lock function:

hfile = win32file._ge

[2015-12-21 22:48] midnightlynx opened #367 "_ServiceAccountCredentials: public access to _kwargs?"
If one gets their service account credentials through a `GoogleCredentials` object's `get_application_default()` or `from_stream(filename)` methods, there's no way to add kwargs to the credential creation process.

In the docs, it states:
"If you have delegated domain-wide access to the service account and you want to impersonate a user account, specify the email address of the user account in the

[2015-12-22 18:17] syhpoon commented on #193
Thanks, this really helped! Otherwise the error was really weird, the same code worked on my local machine and didn't work on the server.

[2016-01-04 17:33] nathanielmanistaatgoogle commented on #366
Good point; want to open a pull request with better wording?

[2016-01-04 21:21] vivekseth commented on #366
Corrected the issue you mentioned with my last pull request and made a new one here: https://github.com/google/oauth2client/pull/369

[2016-01-04 21:50] nathanielmanistaatgoogle commented on #366
Thanks for the fix!

[2016-01-04 21:50] #366 closed

[2016-01-05 01:39] wilford opened #373 "Devshell Credential does not set the token_expiry field"
The credential generated in the Devshell environment does not set the token_expiry field.  This means you cannot determine how long the credential is valid for.

The serialized `CredentialInfoResponse` proto contains a field for `expires_in`, so that should be translated into the `token_expiry` field.

[2016-01-05 17:46] nathanielmanistaatgoogle opened #377 "Scopeless credentials"
@anthmgoogle, @jboeuf, and possibly @tbetbetbe will specify.

[2016-01-05 18:01] dhermes commented on #377
These already exist to some degree since most `Credentials` subclasses implement [`create_scoped(scopes)`][2] and [`create_scoped_required()`][1]

----

I await what they specify.

[1]: https://github.com/google/oauth2client/blob/24214201c67e816eb97a4f74c07a86e6be8d611c/oauth2client/client.py#L1196
[2]: https://github.com/google/oauth2client/blob/24214201c67e816eb97a4f74c07a86e6be8d611c/oauth2clie

[2016-01-05 18:04] jboeuf commented on #377
I'm a little confused here. Is this the JWT Access credentials that is missing or the plumbing to default application credentials for gRPC?

[2016-01-05 18:11] dhermes commented on #377
I've been using a service account and [adding an access token][2] to the auth header for the Bigtable implementation (when [creating a stub][1]).

[1]: https://github.com/GoogleCloudPlatform/gcloud-python/blob/f220a36f129f35731de4aee25e7032f5b58db4a6/gcloud/bigtable/_helpers.py#L77
[2]: https://github.com/GoogleCloudPlatform/gcloud-python/blob/f220a36f129f35731de4aee25e7032f5b58db4a6/gcloud/bigtab

[2016-01-05 18:14] jboeuf commented on #377
It's not quite the same thing. I'll send you the doc offline.

[2016-01-05 21:20] dhermes commented on #298
More support: `keyring` and `django` flat out don't work in Python 2.6.

[2016-01-05 21:41] nathanielmanistaatgoogle commented on #298
@thobrla: today is the twelfth day of Christmas; how possible would it be for us to make dropping Python 2.6 support the gift we give ourselves? Has anything changed on your side of the relationship? What if you had to pin your dependency on us to a less-than-current version?

[2016-01-05 22:00] thobrla commented on #298
The situation hasn't changed much - gsutil still has a substantial amount of users using Python 2.6.  If we had to pin on a less-than-current version that would work up until the point that we actually needed a fix/update in oauth2client, which I anticipate will happen at least once in the coming year, if not more.

That being said, I recognize we can't support this forever.  I'll discuss with our

[2016-01-05 22:13] dhermes commented on #339
This is no longer broken right?

[2016-01-05 22:16] dhermes commented on #266
https://github.com/travis-ci/travis-ci/issues/4756

[2016-01-05 22:18] jonparrott commented on #128
To summarize from GoogleCloudPlatform/gcloud-python#1346:

* We want to use `urllib3` as our official http client library. `urllib3` now supports app engine, so there shouldn't be any issues there.
* We will implement a `PoolManager` wrapper to implement the retry and auth logic that's currently monkey-patched into `httplib2.Http`.

[2016-01-05 22:20] shazow commented on #128
urllib3's modern retry logic is fairly configurable, please let us know if there's anything missing that you'd need. Maybe for auth too.

[2016-01-05 22:22] jonparrott commented on #128
Will do. Mostly this logic handles this case:

1. User makes a request to an authentication-required resource with expired credentials.
2. The API says `403: Unauthorized`, indicating that the credentials have expired.
3. The credentials get refreshed and the entire request is retried.

Not sure if this should be the responsibility of the http library.

[2016-01-05 22:24] shazow commented on #128
Take a look at our Retry object, worst case our goal is that you should be able to extend it and provide your own with a matching interface (might need to replace type-checking with duck-typing where we forgot).

[2016-01-05 22:25] jonparrott commented on #128
Awesome. Even more fuel to this fire I'm setting to httplib2. :+1:

[2016-01-05 22:27] dhermes commented on #128
Ha. It's going to be a **long** road to excise it. It's also tied too deeply into `google-api-python-client`.

[2016-01-05 22:27] shazow commented on #128
Wish we did this when I was still at Google, I would have jumped on to help. :)

[2016-01-05 22:30] jonparrott commented on #128
@dhermes oh, fair point about `google-api-python-client`. That library is in maintenance-only mode. We should consider some sort of fallback for `httplib2` here for that. But for `gcloud-python` we can leave httplib2 firmly behind.

[2016-01-07 17:39] jonparrott commented on #128
Okay, so I'm on board with @dhermes' original plan. We'll leave httplib2 as the default library here, but have a well-defined interface so that `gcloud-python` can move to a different library.

We're about 6% away from full coverage, so this isn't far off.

[2016-01-08 22:36] #373 closed

[2016-01-15 19:21] dlorenc opened #384 "GoogleCredentials and _ServiceAccountCredentials classes are missing to_json/from_json methods"
This prevents these classes from being serialized and used by things like oauth2client.multistore_file, which caches serialized credentials.

multistore_file is used by gsutil, so this is blocking switching gsutil to GoogleCredentials.from_stream.

[2016-01-17 01:20] bjmc commented on #128
Any idea how soon this is happening? [SNI support](https://github.com/jcgregorio/httplib2/issues/233) is a must-have feature for us, and even aside from that, we'd much prefer to use `requests` over `httplib2`.

[2016-01-20 17:34] nathanielmanistaatgoogle commented on #377
@jboeuf directs that this is a duplicate of #252.

[2016-01-20 17:34] #377 closed

[2016-01-23 00:25] thobrla opened #386 "errno.EACCES can propagate fatally outside of multistore_file"
Report from a Windows gsutil user:

[code]

My best guess is that it is occurring `locked_file.py` [here](https://github.com/google/oauth2client/blob/41eb75578f81876a53f1707cf1daf1eb89ddfc0b/oauth2client/contrib/locked_file.py#L291).

I suspect we need to add `errno.EACCES` to the list of exceptions handled in `multistore_file.py` [here](https://github.com/google/oauth2client/blob/41eb75578f81876a

[2016-01-26 18:03] Dmitrii-I commented on #193
Thanks everyone. I had same issue with time drift. I guess I should use ntpd... The library could also provide better error messages.

[2016-01-26 18:40] jonparrott commented on #386
I don't presently have a windows machine to reproduce this on, but it should be straightforward to write a test to cover this.

I'm not overly familiar with this module, but I'm willing to make this change. However, I'm unable to do so until sometime next week. @thobrla if you send a PR between now and then I'm happy to be the first reviewer.

[2016-01-26 18:52] thobrla commented on #386
Thanks - probably won't get to this for at least a few weeks, but I can provide a PR eventually.

[2016-01-26 20:19] dhermes commented on #193
@Dmitrii-I thanks for the suggestion! The problem is that it's impossible to distinguish if `invalid_grant` comes from a bad payload caused by the crypto failing or if it's caused by a bad timestamp or anything else. I suppose we could add a "maybe this is the problem" to the error message, but it wouldn't necessarily narrow it down.

@nathanielmanistaatgoogle Any update on a better error message

[2016-01-27 17:37] nathanielmanistaatgoogle opened #388 "GoogleCredentials has an inappropriate relationship with its subclasses"
`GoogleCredentials` contains references to its subclasses; these references should be eliminated.

Why does anyone ever think implementation inheritance is a good idea?

[2016-01-27 17:38] dhermes commented on #388
:+1:

[2016-01-27 17:40] dhermes commented on #388
Original support added in #12 if it helps

[2016-01-27 17:49] nathanielmanistaatgoogle commented on #298
@thobrla: ping?

[2016-01-27 18:30] thobrla commented on #298
I'm still working on details with the gcloud CLI team, and probably won't have a fully-publishable plan for at least a few weeks.  The general consensus is that we'd like to deprecate support, but need to decide on the length of the deprecation period and migration plan.

[2016-01-27 18:51] #384 closed

[2016-01-29 16:45] #386 closed

[2016-01-31 07:38] chromafunk opened #391 "Refresh token when using AccessTokenCredentials"
Sorry to ask this here, but i have been reading everything that is out there on the Google API docs and I might be missing something, cause I can't find the way to refresh a token using Oauth2client when using AccesstokenCredentials as the method to connect. ( It is my own user, I pre-consent it manually )

This is the code I got so far minus the youtube part :

[code]

Could I get to refresh the

[2016-02-01 23:02] dhermes commented on #211
@nathanielmanistaatgoogle I'm close to "done" here. Will send a non-merge-able PR and ping you on it by EOD. Then we can discuss how to break it up for review.

[2016-02-02 22:10] nathanielmanistaatgoogle opened #393 "Unable to switch abstract classes to use of abc module"
Since 2.6 the right way to write abstract classes in Python is with use of the `abc` standard library module. I took a stab today at converting `client.Credentials`, `client.Storage`, and `client.AssertionCredentials` to using `abc` and a bunch of tests failed with abstract-class-instantiation errors.

Which means that currently our tests instantiate nonsense partially-abstract objects and are tot

[2016-02-04 22:05] nathanielmanistaatgoogle commented on #193
@dhermes: everyone agrees that it should be done and it's a work item getting routed between a few different people and teams.

[2016-02-05 13:01] dhermes commented on #193
Good to hear. Seems this issue has become a popular reference point for people.

[2016-02-06 03:17] #211 closed

[2016-02-07 09:32] jefftune opened #401 "SignedJwtAssertionCredentials has been removed: Why?"
To: @dhermes

I am currently using **`class SignedJwtAssertionCredentials`**, and as of 2 days ago, it was removed.

[oauth2client/client.py](https://github.com/google/oauth2client/blob/master/oauth2client/client.py)

https://github.com/google/oauth2client/commit/dcd20c9375308979e45ae280ec102a28d2ca60d1#diff-d8b1525b7f161cbce2f6438636be9c38

What am I to use instead now?

Signed JWT is expected fo

[2016-02-07 17:52] dhermes commented on #401
Thanks for noticing! The behavior has been moved onto `oauth2client.service_account.ServiceAccountCredentials`. We will be sure to provide details in the release notes on how to migrate.

There is a factory constructor:

[code]

[2016-02-08 16:37] nathanielmanistaatgoogle commented on #401
@jefftune: are you able to point us to documentation that needs to be updated as a result of the change that we made on Friday?

[2016-02-08 23:57] adongy opened #402 "Last release was in November"
Hi!

Seeing the new changes for services accounts and json keyfiles, I was wondering when the next release would happen, as the latest one on PyPi is v1.5.2.

https://github.com/google/oauth2client/commit/3042ad2554d20a8c02c0714b58adcba7ec842d88

Thanks!
Anthony

[2016-02-09 01:51] dhermes commented on #402
Hopefully soon (i.e. later this week). We were trying to get one out last Friday but it lapsed.

[2016-02-09 02:41] adongy commented on #402
Alright, thanks!

[2016-02-09 02:41] adongy commented on #402
Alright, thanks!

[2016-02-09 02:41] adongy commented on #402
Alright, thanks!

[2016-02-12 11:53] voscausa commented on #401
Example code using **ServiceAccountCredentials**:

[code]

To make in work in the appengine dev_server I installed:

- httplib2 0.9.2
- gspread 0.3.0
- oauth2client 1.5.2
- requests 2.3.0
- pyasn1 0.1.9
- payasn1-modules 0.0.8
- rsa 3.3
- six.py 1.10.0

[2016-02-12 18:04] dhermes opened #405 "Fix flaky test_verify_id_token_bad_tokens failure"
This recently caused a "broken" [build][1] (though I restarted it)

[code]

[1]: https://travis-ci.org/google/oauth2client/builds/108176722

[2016-02-12 23:00] dhermes commented on #405
I captured this locally and the error is

[code]

[2016-02-12 23:34] dhermes commented on #405
Issue [found][1]! We are stripping off the byte `=` from signed bytes. It seems the code got confused about what was bytes and what was base64. Eek.

[1]: https://github.com/google/oauth2client/blob/b13ab40a01adacf0075fd52f95173abb33297254/oauth2client/crypt.py#L97

[2016-02-13 02:05] #405 closed

[2016-02-15 23:48] dhermes commented on #367
@nathanielmanistaatgoogle Probably worth incorporating this into the factory constructors.

[2016-02-15 23:48] #339 closed

[2016-02-15 23:50] dhermes commented on #252
@nathanielmanistaatgoogle This "should be" sufficient:

[code]

though I tried to use the system tests with this and couldn't get it to work (I tried to use an audience of the form `foo.apps.googleusercontent.com`)

[2016-02-16 19:38] nathanielmanistaatgoogle commented on #252
@anthmgoogle I know you've pointed us at the Java and Ruby implementations of this but is there any RFC-like technical specification to which we might refer? Something from which we might write our test coverage?

Also @anthmgoogle what do you make of @dhermes' draft in the previous comment?

[2016-02-16 20:21] dhermes opened #407 "Make sure release only happens in one Travis env."
See:
https://travis-ci.org/google/oauth2client/builds/109681347

It seems every environment pushed the release which [caused the second, third, etc.][1] job to push to give an error:

[code]

Also there are two warnings that may be worth dealing with:

[code]

[1]:

[2016-02-16 21:51] vapier opened #408 "oauth2client now installs test files"
after commit 93c56c1152dab1fb6f3b9c12f120a3ac77d4c442 by @dhermes, `python setup.py install` now includes the tests/ subdir when it should not.  it seems the change to the MANIFEST file is not sufficient.

[code]

[2016-02-16 21:55] nathanielmanistaatgoogle commented on #408
Thank you for the report!

[2016-02-17 00:13] dhermes commented on #408
Interesting. The whole point of #382 was to **keep them out**, and prior to that they were included. @vapier Can you confirm the latest commit in your checkout?

[code]

[2016-02-17 00:36] vapier commented on #408
i noticed using the 2.0.0 release tarball, so i then grabbed git and bisected it down to that commit.  i doubt my local git repo being at the wrong git sha1 is the issue.

[2016-02-17 00:40] dhermes commented on #408
Ha sounds like you know what you're doing :grinning:. I'm AFK and was just hoping it'd be an easy resolution.

[2016-02-17 01:53] allenpc commented on #401
@dhermes one problem I'm running into when I tried to migrate to `.from_p12_keyfile` is that `SignedJwtAssertionCredentials` allowed you to pass in a File buffer yourself. Now, `.from_p12_keyfile` requires a local file path.

We pull in our p12 keys dynamically, and the old behavior allowed us to not have to write the contents to a temp file locally.

Any chance we could get a version of `.from_p1

[2016-02-17 02:34] dhermes commented on #401
Ahhh @allenpc thanks for the heads up! We had discussed adding that as an intermediate constructor but decided "no one wants it". Proved wrong in less than 1 week!

[2016-02-17 03:02] dhermes commented on #401
@nathanielmanistaatgoogle Shouldn't this issue be closed? Should a new issue be filed for the legit feature request of @allenpc?

[2016-02-17 03:28] bood commented on #401
@dhermes @nathanielmanistaatgoogle
This page definitely needs an update:
https://developers.google.com/api-client-library/python/auth/service-accounts

I suggest do not close this issue until all documents are updated

[2016-02-17 05:05] dhermes commented on #401
:+1: good call

[2016-02-17 18:40] allenpc opened #412 "ServiceAccountCredentials should support directly passing in key file contents"
(breaking out my comment from #401 as separate feature request)

Previously, `SignedJwtAssertionCredentials` allowed you to pass in the key file contents directly instead of passing in a file path (as shown [here](https://developers.google.com/api-client-library/python/auth/service-accounts)) It would be great if `ServiceAccountCredentials` also supported this, for both JSON and p12 keys.

In the

[2016-02-17 18:42] allenpc commented on #401
@dhermes, moved my request out as a separate feature: #412

Agreed on keeping this open until all documentation is updated though. Here is another page that needs to get updated: https://developers.google.com/api-client-library/python/guide/aaa_oauth

[2016-02-17 18:48] dhermes commented on #401
Thanks.

[2016-02-17 19:54] alexbenfica commented on #401
Not that I like it... but keep the old version will be the solution for now... oauth2client==1.5.2

[2016-02-17 20:09] smythp opened #414 "ImportError: No module named locked_file"
Got the following output when connecting to the calendar API. Had to copy locked_file.py from contrib to the oauth2client folder to resolve the error output.

[code]

[2016-02-17 20:23] dhermes commented on #414
This is an issue with `google-api-python-client` as it is using an old import path.

[2016-02-17 22:24] smythp commented on #414
Thanks for the response and for the resource.

[2016-02-17 22:24] #414 closed

[2016-02-17 23:47] zhoufeng1989 commented on #412
That's what I need, it will be easier to upgrade to version 2.0.0 if **SignedJwtAssertionCredentials** is used before.

[2016-02-18 00:00] dhermes commented on #412
@allenpc I just peeked at the [old source][1] and it doesn't actually seem like a buffer was supported:

[code]

Any thoughts here?

[1]: https://github.com/google/oauth2client/blob/v1.5.2/oauth2client/client.py#L1641

[2016-02-18 01:23] allenpc commented on #412
@dhermes You are totally right, I was mistaken when I stated before that `SignedJwtAssertionCredentials` took in a buffer directly, looks like it just takes a string. For the purposes of easing every's migration to 2.0.0, I think we should keep the semantics consistent and just a string, as before.

[2016-02-18 12:31] #412 closed

[2016-02-18 12:32] dhermes commented on #412
No worries. Adding this functionality didn't take away from the existing.

[2016-02-18 19:58] dukedougal commented on #401
Authentication - one of the hardest things to get working in modern development and I've worked with Google authentication over the years and it's always been an absolute disaster, mainly because developers change things and leave the documentation out of date.  I was hoping things might be different this time around but here it is again.  The Python documentation is just plain wrong.  Sorry to gr

[2016-02-18 20:09] dhermes commented on #401
Thanks for taking the time to share @dukedougal. I can take the brunt of the blame for this change. We had 2 competing implementations for service accounts and as a programmer I just had to fix it. It didn't even occur to me to fix the various sets of docs on the Google developers site. I suppose there should be more great docstrings like [in `flask_util`][1] (w00t @jonparrott and @waprin) and the

[2016-02-18 20:17] dukedougal commented on #401
I still don't know how to make it work.  How, in Python, do I use my service account .json credentials to get a token to talk to Google?  Where are the steps that actually work?

[2016-02-18 20:22] dhermes commented on #401
[code]

[2016-02-18 20:26] patroqueeet commented on #401
Dear,

I can confirm @dhermes code snippet and add my two cents for the p12 (confirmed to be working today).

[code]

[2016-02-18 20:38] dhermes commented on #401
Thanks @patroqueeet

[2016-02-18 21:00] dukedougal commented on #401
I got it to work, thanks for your quick response.

But PLEASE update both pip and your documentation.  I'll probably come back here some day soon and think damn! I can't remember what I did to fix it, I hope the pip version is current and the documentation up to date.

[2016-02-19 09:29] sandeepkoduri commented on #401
I am not sure how many times referenced this import I wrote across last 5 years in various projects in different companies. I see i need to update 5 current projects of mine and ask other teams working with projects to upgrade their libraries.

I wonder what would be the recommendation, I should fix a version of google-api-python-client/oauth2client in our code repos or ask all developers working

[2016-02-19 15:42] ddoskind opened #417 "Warn user if .p12 support is not available because of missing crypto libraries"
If you try to create `ServiceAccountCredentials` without having `PyOpenSSL` installed, a `UnicodeDecodeError` is raised:
[code]
It would be better to use the existing (but unused, from what I can tell) `_PKCS12_ERROR` string inside `service_account.py` to let the user know what's going on.

[2016-02-19 17:30] jonparrott commented on #401
In general the recommendation is to [pin your packages](http://nvie.com/posts/pin-your-packages/). Major version changes will almost always introduce breaking changes, and even minor version release should be vetted before upgrading.

We can't advance the state of this project without breaking changes. We've bumped the major version number for these changes as expected.

@nathanielmanistaatgoogle

[2016-02-19 17:44] dhermes commented on #401
Thanks a lot @jonparrott!

[2016-02-19 18:11] jonparrott opened #418 "ServiceAccountCredentials needs a way to provide the 'sub' parameter"
'sub' is required to do domain-wide delegation of authority. The historical sample was:

[code]

Right now the only decent way to do this with the factory method is to do:

[code]

We should either extend the factory methods to accept `kwargs` or add a `create_delegated` method.

/cc @dhermes

[2016-02-19 18:12] dhermes commented on #418
:+1: I struggled with the `**kwargs` --> `self.kwargs` design when making the upgrade.

[2016-02-19 18:12] jonparrott commented on #418
Which do you recommend we do?

[2016-02-19 18:18] dhermes commented on #418
I prefer just adding `sub=` to the factory constructors, rather than the `**kwargs` free-for-all.

[2016-02-19 18:18] dhermes commented on #418
Also, we should start adding examples to docstrings to give the future humans motivation for why things exist the way they do.

[2016-02-19 18:21] jonparrott commented on #418
I would personally prefer `create_delegated` - matching with `create_scoped`- as it conceptually creates a new set of credentials.

And yes, docstrings would be great.

Do you think you can make this change? I'm currently updating the docs.

[2016-02-19 18:38] jonparrott commented on #401
Docs updated. Will need to be bumped again once #418 is resolved.

[2016-02-19 18:38] #401 closed

[2016-02-19 18:39] dhermes commented on #401
Wow that was fast! Thanks

[2016-02-19 18:41] dhermes commented on #418
I'll make the change but am a bit nervous about the design, so we can discuss on the PR.

[2016-02-19 18:43] jonparrott commented on #418
Thank you. It'll also give @nathanielmanistaatgoogle a chance to comment on the design.

[2016-02-19 19:03] dhermes commented on #252
@anthmgoogle Bump.

Also, is `azp` the field intended rather than `sub`?

[2016-02-19 19:35] dhermes commented on #408
@vapier I'm not sure why this occurs, but at least `MANIFEST.in` keeps them out of the distribution that gets uploaded to PyPI:

[code]

@tseaver any idea why `python setup.py install --root` doesn't use `MANIFEST.in`

[StackOverflow][1] seems to indicate that `include_package_data=True` does the trick but I just tried and `tests` are still included.

[1]: http://stackoverflow.com/a/15265203/10681

[2016-02-19 22:27] #418 closed

[2016-02-19 22:44] dhermes opened #422 "Reign in the service account constructor"
Two current scary points:
- The "secret" info (e.g. `_private_key_pkcs8_pem`) that has to be [copied over](https://github.com/google/oauth2client/blob/0c7996099f9e3d74f7b9a6d32b6f69f44987638a/oauth2client/service_account.py#L441-L443) in a manual way
- We allow a big surface ([all of [`kwargs`](https://github.com/google/oauth2client/blob/0c7996099f9e3d74f7b9a6d32b6f69f44987638a/oauth2client/servic

[2016-02-20 00:06] dhermes commented on #417
Thanks for filing! I thought I caught this before it got parsed, though it seems I didn't check all three crypto implementations.

[2016-02-20 01:19] #417 closed

[2016-02-20 12:26] bood commented on #401
@dhermes   @jonparrott  I noticed that the documents are updated, however, if I'm still using an old version, where could I find the document for the old version?

[2016-02-20 15:07] dims opened #427 "Suspicious release to pypi 2.0.0.post1"
We (openstack) have a CI that pulls latest versions of packages and we found a release:
https://pypi.python.org/pypi/oauth2client/2.0.0.post1

Is this a "real" release?

[2016-02-20 15:36] nathanielmanistaatgoogle commented on #427
Yes it's real; I actually just learned from the discussion [here](https://github.com/google/oauth2client/pull/411#issuecomment-186438829) that the way it is named comes from [PEP 440](https://www.python.org/dev/peps/pep-0440/#post-release-separators).

[2016-02-20 15:36] #427 closed

[2016-02-20 17:16] dhermes commented on #401
Ohhh good call! I'll tell readthedocs.org to build the `v1.5.2` tag.

[2016-02-20 17:19] dhermes commented on #401
Freshly baked docs for you: http://oauth2client.readthedocs.org/en/v1.5.2/index.html

[2016-02-20 18:15] dhermes opened #428 "Drop use of util.positional() / unify oauth2client.util and oauth2client._helpers"

[2016-02-20 18:50] jonparrott commented on #401
Thanks, @dhermes.

The cloud.google.com documentation is not versioned, but the readthedocs
documentation is.

On Sat, Feb 20, 2016, 9:20 AM Danny Hermes <notifications@github.com> wrote:

[2016-02-20 20:09] #402 closed

[2016-02-23 05:45] dhermes opened #433 "Code quality: Remove / reduce functions and classes not defined at global scope"
Some examples:

- all the [`ndb` helpers][1] in the `appengine` module (changes coming)
- the class created in [`OAuth2Decorator.callback_handler`][2]
- version specific [Django config][3]
- locked file [`fcntl` helpers][4]
- locked file [`win32` helpers][5]
- class-within-a-class storage [in `multistore_file`][6]
- monkey-patched [request method][7] (this is a whole project in itself)

Also worth

[2016-02-23 06:10] dhermes commented on #212
@waprin We had previously discussed you getting `django_orm.py` both 100% covered and maybe even making the code better? Are you still up for that?

[2016-02-23 07:11] dhermes opened #435 "Fix out-of-date BigQuery docs"
See [comment][1] by @nad2000:

[1]: https://github.com/google/oauth2client/commit/98df500a29157ccaa3f6bdf4517d57a5be8e85f1#commitcomment-16260659

[2016-02-23 07:11] dhermes commented on #435
@jonparrott I just assigned to you because you seemed to know what to poke to get developers.google.com updated. Feel free to unassign.

[2016-02-23 07:14] dhermes commented on #435
Regarding the old `run` method, it was deprecated in 2013 and finally removed in the `1.5.0` release. We thought we'd heard the "last" of examples that were broken by the removal, but it seems we haven't.

[1]: https://github.com/google/oauth2client/issues/299#issuecomment-138339730

[2016-02-23 17:36] jonparrott commented on #435
Feel free to always assign these to me, @waprin, or @jerjou. We own the Python samples on cloud.google.com, and we can update samples on developers.google.com.

[2016-02-23 17:38] jonparrott commented on #433
What would you change about the decorators?

[2016-02-23 17:39] jonparrott commented on #433
Indeed. I'm doing some experiments to see how I can rip httplib2 out of this library. If you want to hold off on that until 100% coverage we can discuss a plan of attack.

[2016-02-23 17:52] dhermes commented on #435
Thanks!

[2016-02-23 17:53] dhermes commented on #433
RE: "decorators", probably nothing, though maybe classes with `__call__` defined. I just included them since they came up in my `git grep` search.

RE: 100% coverage. We need a "coalition of volunteers" to get #212 over the hill.

RE: Ripping out `httplib2`, yay!

[2016-02-23 18:02] jonparrott commented on #433
Gotcha. I personally don't think decorator inner functions need to necessarily be pulled out, though @nathanielmanistaatgoogle may have a stronger opinion.

My time is a bit limited as I'm refactoring all of the tests in our sample repos, but happy to help with what's left after I'm done there.

[2016-02-23 20:26] dhermes commented on #433
No worries, there should be plenty of stakeholders we could get to write one unit test?

[2016-02-23 20:47] dhermes opened #436 "raw_input() should be used instead of input()"
See [comment][1] by @nad2000.

[1]: https://github.com/google/oauth2client/commit/34c1ff543dd16edf58dcf5b336076cf27de3721a#commitcomment-16261003

[2016-02-24 00:49] nad2000 commented on #436
My bad! **input** therre comes from **six.moved**. So it should work with 2.x too.

[2016-02-24 17:46] dhermes opened #439 "Convert CredentialsNDBProperty into a JsonProperty"
See [TODO][1] (being removed in #434).

[1]: https://github.com/google/oauth2client/blob/d3a187c56a0e607030482ed33664cd7d335ea34c/oauth2client/contrib/appengine.py#L350-L352

[2016-02-24 17:48] dhermes opened #440 "Resolve ndb import failure in App Engine-like environments"
See [TODO](https://github.com/google/oauth2client/blob/d3a187c56a0e607030482ed33664cd7d335ea34c/oauth2client/contrib/appengine.py#L49-L50) (being removed in #434).

[2016-02-24 18:34] anthmgoogle commented on #252
Apologies. There is an internal document that I've emailed. If you copy one of the other implementations and verify and example end to end it should be good, since the server verification is pretty exacting. The most counter intuitive part is that both "iss" and "sub" need to have the same service account email address.